#headerAll{
    width: 100%;
    max-width: 1920px;
    margin: auto;
    position: relative;
    z-index: 999;
    .filter{
        width: 70%;
        background: white;
        border: 1px solid #aaa;
        height: 250px;
        position: fixed;
        top: 7%;
        left: 15%;
        z-index: 12;
        display: none;
        #filterList{
            display: flex;
            height: 100%;
            #filterListLi{
                flex: 1;
                position: sticky;
                li{
                    display: flex;
                    cursor: pointer;
                    justify-content: center;
                    height:16.4%;
                    align-items: center;
                    border-bottom:1px solid #aaa; 
                    border-right:1px solid #aaa; 
                }
            }
        }
        #filterListImg{
            overflow: auto;
            flex: 3;
            text-align: center;
            @media (min-width:768px) {
                display: flex;
                flex-wrap: wrap;
            }
            .filterListImg-img{
                width: 100%;
                @media (min-width:768px) {
                    width: 50%;
                    @include mTop (10);
                }
                img{
                    width: 90%;
                    max-width: 1920px;
                    @media (min-width:768px) {
                            width: 90%;
                            height: 100%;
                    }

                }
            }
        }
    }
    @media (min-width:768px) {
        .filter{
            height: 300px;
        }
    }
    @media (min-width:1200px) {
        .filter{
            height: 400px;
        }
    }
}
.header{
    width: 100%;
    max-width: 768px;
    position: fixed;
    background: white;
    top: 0;
    left: 0;
    display: flex;
    z-index: 5;
    a{
    display: block;
    }
    #logo{
    flex: 5;
    z-index: 5;
    display: flex;
    #searchAll{ 
        position: relative;
        line-height: 58px;
        height: 100%;
        margin: 0 10%;
        #search{
            border-radius: 5px;
            height: 40%;
        }
        .material-icons{
            position: absolute;
            top: 30%;
            left: 85%;
            user-select: none;
            cursor: pointer;
        }
    }
    img{
        max-width: 61px;
        max-height: 54px;
    }
    }
    #burger{
    position: relative;
    flex: 1;
    cursor: pointer;
    span{
        position: absolute;
        display: block;
        width: 50%;
        max-width: 30px;
        height: 2px;
        background: black;
    }
    .burger-1{
        top:30%;
        left: 45%;
    }
    .burger-2{
        top:50%;
        left: 45%;
    }
    .burger-3{
        top:70%;
        left: 45%;
    }
    .animation1{
        animation: span1 0.5s 1; 
    }
    .animation2{
        animation: span2 0.5s 1; 
    }
    @keyframes span1 {
        0%{transform: rotate(0deg)}
        100%{transform: rotate(180deg)}
    }
    @keyframes span2 {
        0%{transform: rotate(0deg)}
        100%{transform: rotate(-180deg)}
    }
    }
    #burgerText{
        position: fixed;
        width: 100%;
        height: 100%;
        background:$color-btn-sub;
        top: 0;
        left:100%;
        transition: all .5s;
        text-align: center;
        z-index: 7; 
        a{
            color:$color-subTitle;
            line-height: 75px;
        }
        #burgerText-X{
            position: absolute;
            width: 30px;
            height: 30px;
            top: 17px;
            left: 90%;
            cursor: pointer;
            z-index: 3;
        }
        @media (min-width:768px) {
            #burgerText-X{
                display: none;
            }
        }
        #member{
            position: relative;
            padding: 25px 0 25px 0;
            cursor: pointer;
            color:$color-subTitle;
            #member-child{
                position: absolute;
                width: 100%;
                top: 65%;
                li a{
                    color: black;
                    width: 100%;
                    text-align: center;
                    font-size: 14px;
                    line-height: 0px;
                    transition: all 0.5s;
                    opacity: 0;
                }
                li {
                    .member-b{
                        opacity: 1;
                        line-height: 65px;

                    }
                }
            }
        }

    }
    #burgerText:after{
        content: '';
        display: block;
        width: 30px;
        height: 2px;
        background: black;
        position: absolute;
        top: 30px;
        left: 90%;
        transform: rotate(40deg);
        cursor: pointer;
    }
    #burgerText::before{
        content: '';
        display: block;
        width: 30px;
        height: 2px;
        background: black;
        position: absolute;
        top: 30px;
        left: 90%;
        transform: rotate(-40deg);
        cursor: pointer;
    }
    }
    @media (min-width:768px){
        #headerAll{
            transition: all .5s;
            .header{
                position: unset;
                max-width: 1200px;
                #burger+#burgerText{
                    li:hover a{
                        opacity: 0.5;
                    }
                }
                #logo{
                    position: fixed;
                    z-index: 10;
                    #search{
                        height: 21.8px;
                    }
                }
            #burger{
                display: none;
            }
            #burgerText:after{
                display: none;
            }
            #burgerText::before{
                display: none;
            }
            #burgerText{
                max-width: 1920px;
                height: 58px;
                // background: transparent;
                background: white;
                display: flex;
                left: unset;
                justify-content: flex-end;
                align-items: center;
                li{
                    margin: 0 20px;
                    i{
                        margin-top:4px; 
                        line-height: unset;
                    }
                }
                a{
                    line-height: 58px;
                }
                li:hover a{
                    color:$color-subTitle;
                }
            }
        }
    }
}
#up{
    display: none;
}
#robot{
    display: none;
}
@media (min-width:768px){
    // #robot{
    //     display: block;
    //     position: fixed;
    //     top: 70%;
    //     left: 95%;
    //     width: 42px;
    //     height: 42px;
    //     border: 1px solid #aaa;
    //     border-radius: $border-radius-btn;
    //     cursor: pointer;
    //     z-index: 3;
    // }
    
    #up{
        display: block;
        position: fixed;
        z-index: 3;
        top: 80%;
        left: 93%;
        width: 42px;
        @include f30 ();
        text-align: center;
        line-height: 42px;
        border: 1px solid #aaa;
        border-radius: $border-radius-btn;
        cursor: pointer;
    }

}
// 機器人加入





/*---------------robot視窗控制---------------------------*/
.rbcircle {
    display: flex;
    justify-content: center;
    background-color: #50E3C2;
    cursor:pointer;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    z-index: 999;
    position: fixed;
    left: 92.5%;
    top: 90%;
    background-image:url("../img/機器人/robot-solid.png");
    background-repeat: no-repeat;
    outline: none;
    }
    .rbcircle:hover {
    transform: translateY(-3px);
    
    }
    
    .rbclose:hover {
    transform: translateY(-3px);
    }
    
    
    .rbmodal-wrapper {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.16);
    border-radius: 3px;
    width: 376px;
    height: 400px;
    position: fixed;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    visibility: hidden;
    opacity: 0;
    bottom: 80px;
    transition: opacity 200ms ease-out, bottom 200ms ease-out;
    border-radius: 5px;
    }
    
    .rbmodal-input {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 15px;
    border: none;
    border-top: 1px solid #E6E7F0;
    font-size: 14px;
    font-weight: 300;
    }
    
    textarea::placeholder {
    color: #CACEDB;
    }
    
    .js-modal-active {
    visibility: visible;
    opacity: 1;
    bottom: 100px;
    z-index: 99999;
    }
    
    #out{
      cursor: pointer;
    }
    
    
    
    /*------------robot對話控制--------------------------------*/
    
    .rbhead{
      background-color:#32545c;
      max-width:376px;
      width: 100%;
      // width: 100%;
      height: 82px;
      
    }
    
    
    .rbhead__box{
      width: 376px;
      height: 82px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      background-color:#32545c;
    }
    
    .rblogo__box{
      width: 200px;
      height: 82px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      @media (max-width:767px) {
            flex: 7;
      }
    }
    
    .rbhead__box img{
      width: 50px;
      height: 45px;
    } 
    
    h2{
      font-size: 20px;
      font-family:Microsoft JhengHei;
      color: #ffffff;
    }
    
    #rb__message{
      max-width:376px;
      width: 100%;
      height: 400px;
      background-image:url("../img/機器人/photo-1541456419250-opacity-0.3.png");
      background-size: 100%;
      background-repeat: no-repeat;
      overflow:auto;
      font-family:Microsoft JhengHei;
      color: #484848; 
    }
    
    #rb__message img{
    max-width:30px;
    width: 90%;
    height:10%;
    padding:5px;
    background-color: #ffffff;
    border-radius: 50%;
    }
    
    .rbtext__show{
    display: flex;
    flex-direction:row;
    }
    .rbtext__show img{
    margin:5px;
    }
    
    .rbtext__show p{
    max-width:140px;
    /*width: 100%;*/
    background-color: #ffffff;
    border-radius: 23px;
    padding: 5px ;
    line-height: 36px;
    word-break: break-word;
    }
    
    .rbinput__text{
      display:inline-block;
      max-width:376px;
      width: 100%;
    }
    
    #say{
    font-size:20px;
    font-family:Microsoft JhengHei;
    }
    
    .rbtext__input{
      display: flex;
      flex-direction: row;
      align-content: flex-end;
      max-width:377px;
      width: 100%;
      height: 40px;
      background-color: #ffffff;
      border: 1px solid #989898;
    }
    .rbtext__input textarea{
      max-width:330px;
      width: 100%;
      border: none;
      /*font-size:30px;*/
      line-height: center;
    }
    
    .rbtext__input .butn{
      max-width:40px;
      width: 100%;
      
    }
    
    .person_text{
      width: 100%;
      display: flex;
      justify-content: flex-start;
      flex-direction: row-reverse;
    }
    
    .rbmodal__wrapper__rwd{
    display:none; 
    }
    .rbclose2{
        display: none;
    }
    
    @media  (max-width: 767px){
    
    #model{
    //   display:inline;
      width:100%;
      height:100%;
    //   position:inherit;
        // display: block;
        // z-index: 999;
        bottom: unset;
        right: unset;
    }
    
    .rblogo{
      flex-basis:-1;
      flex-grow:0;
    }
    
    .rbcircle{
    display:none;
    }
    
    #modal{
      display:inline; 
    }
    
    .rbhead{
      background-color:#32545c;
      max-width:768px;
      width: 100%;
      height: 12vh;
    }
    
    .rbhead__box{
        max-width: 1200px;
        width: 100%;
        height: 12vh;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .rbclose{
        padding-left: 20px;
        flex: 3;
    }
    .rbout{
        display: none;
    }
    .rbclose2{
        display: block;
        cursor: pointer;
    }
    .rbhead__box img{
      max-width:8vh;
      width: 100%;
      height:6vh;
    } 
    
    #rbout{
      padding-right: 20px;
    }
    
    
    .rbhead__box h1{
      font-size:4vh;
      font-family:Microsoft JhengHei;
      color: #ffffff;
      flex-grow: 1;
    } 
    
    .rbtext__show p{
      font-size: 2vh;
      line-height: 6vh;
    }
    
    
    #rb__message{
    max-width:1200px;
    width: 100%;
    height:80vh;
    background-repeat: no-repeat;
    background-size: 120%;
    overflow:auto;
    font-family:Microsoft JhengHei;
    color: #484848; 
    }
    
    #rb__message img{
    max-width: 7vh;
    width: 100%;
    }
    
    .rbinput__text{
    display:inline-block;
    max-width:1200px;
    width: 100%;
    }
    
    .rbtext__input{
    max-width: 74vh;
    width: 100%;
    height: 8vh;
    }
    
    .rbtext__input textarea{
      max-width: unset;
      width: 100%;
    }
    
    .rbtext__input .butn{
      max-width: 8vh;
    
      background-color: #989898;
      width: 100%;
    }
    
    #say{
      font-size: 5vh;
    }
    
    }