@import "base/_var.scss";
@import "mixin/_mixin.scss";
@import "mixin/_mixin-cart.scss";

$block-margin:50px;
$block-size:710px;
body{
    background-color: $color-white;
}
*{
    transition: 0.5s;
}
img{
    vertical-align: middle;
}
//次標 ｒｗｄ的時候變成 h2要藏
h2{
    // color: $color-subTitle;
    @include f20b();
    @include pBottom(5);
    // @include rwd(mobile){
    //     display: none;
    // }
}
a{
    display: inline-block;
}
.clearfix{
    content: none;
    clear: both;
    display: block;
}
.ctMobile__btn{
    // text-align: right;
    padding: 12px 0;
    @include rwd(mobile){
        display: flex;
        justify-content: space-between;
        // text-align: center;
    }
}
.ctMobile__btn--next,
.ctMobile__btn--front{
    display: none;
    @include rwd(mobile){
        display: inline-block;
    }
}




.ctStep__title--mobile{
    // @include block();
    padding:80px 20px 20px 20px;
    text-align: center;
    display: none;
   @include rwd(mobile){
       display: block;
   }
    .row{
        justify-content: space-between;
        .ctStep__item{
            color:$color-main2;
            .ctStep__item--circle{
                $size:30px;
                height: $size;
                width: $size;
                border-radius: 50%;
                border:2px solid $color-main2;
                line-height: $size;
                margin: auto;
            }
            .ctStep__item--text{
                white-space: nowrap;
                @include f16;
                @include pTop(4);
            }  
        }
        .ctStep__line{
            margin: 0 -7px;
            width: 100%;
            height: 2px;
            background-color: $color-main1;
            @include mTop(16);
        }
        .ctStep__line--on{
            height: 2px;
            background-color: $color-main2;
        }
        .ctStep__circle--on{
            color:$color-white;
            background-color: $color-main2;
        }
        .ctStep--on{
            font-weight: bold;
        }
    }
}



body>.row{
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    position: relative;
    top: 0;
    left: 0;
    @include rwd(desktop){
        flex-direction: column;
        max-width: 800px;
        padding: 0 20px;
    }
    
}
// 第一步驟
.ctProduct{
    // font-size: 10px;
    width: $block-size;
    margin: $block-margin;
    @include rwd(desktop){
        @include pTop(60);
    }
    @include rwd(mobile){
        width: 335px;
    }
    .ctStep__title{
        @include step();
    }
    >.row{

        
        @include rwdWrap();
        @include ctBorder();
        @include br4();
        .ctProduct__img{
            width: 335px;
            height: 230px;
            overflow: hidden;
            background-image: url(../img/fuji.jpg);
            background-size: cover ;
            background-position: center center;
            background-repeat: no-repeat;
            @include rwd(mobile){
                height: 30vh;
            }
            @include rwd(desktop){
                width: 100%;
            }

        }
        .ctProduct__text{
            padding: 20px 30px ;
            h3{
                @include f20b();
            }
            p{
                @include f16();
                padding: 4px 0;
            }
            .btn-sub-s{
                margin:10px 0;
            }
            @include rwd(mobile){
                padding: 20px 10px;
            }
        }
    }
}

// 第二步驟
.ctProfile{
    width: $block-size;
    margin-left: $block-margin;
    
    @include rwd(mobile){
        max-width: 400px;
        margin: auto;
    }
    .ctStep__title{
        @include step();
    }
    //選人數
    

    >.row{
        justify-content: space-between;
        align-items: flex-end;
        @include rwdWrap();
        .ctC{
            width: 335px;
            .ctCount{
                $size:32px;
                height: $size;
                font-size: 0;
                line-height: $size;
                .row{
        
                    >span{
                        @include f20();
                }
                .ctCountBox{
                    width: 130px;
                    border:2px solid $color-btn-main;
                    background-color: $color-btn-main;
                    border-radius: 60px;
                    .row{
                        justify-content: space-between; 
                        >span{
                            @include f16();
                        }
                        a{
                            width: $size;
                            // background-color: $color-btn-main;
                            text-align: center;
                            vertical-align: middle;
                            &:first-child{
                                border-radius: 60px 0 0 60px;
                            }
                            &:last-child{
                                border-radius: 0 60px  60px 0;
                            }
                            i{
                                vertical-align: middle;
                                font-weight: bold;
                                color:$color-white;
                                font-size: 20pt;
                            }
                        }
                        span{
                            background-color: $color-white;
                            display: inline-block;
                            width: 52px;
                            text-align: center;
                        }
                    }
                }
                }
                
            }
            .ctContact{
                width: 335px;
                margin-top: 36px;
                height: 230px;
                @include ctBox();
                @include br4();
                >div{
                    box-sizing:border-box;
                    padding:10px 20px;
                    .ctContact__title{
                        @include f20();
                        height: 26px;
                        line-height: 26px;
                        text-align: left;
                    }
                    
                }
            }
        }
        //訂購人
        //旅客資訊
        .ctPassanger{
            // width: 50%;
            // max-width: 400px;
            width: 335px;
            @include rwd(mobile){
                @include mTop(20);
            }
            .ctPassanger__tab{
                font-size: 0;
                a{
                    box-sizing: border-box;
                    width: 20%;
                    height: 36px;
                    vertical-align: middle;
                    text-align: center;
                    cursor: pointer;
                    @include f16();
                    @include ctBR__tab();
                    .row{
                        width: 52px;
                        justify-content: space-around;
                        margin: auto;
                        i{
                            line-height: 36px;
                            height: 20px;
                            width: 20px;
                            color:$color-gray1;
                            &:nth-child(2){
                                display: none;
                            }
                        }
                    }
                    &.who{
                        i{
                            color:$color-btn-main;
                        }
                    }
                }
            }
            .ctPassanger__input{
                border-radius: 0 0 4px 4px;
                height: 230px;
                box-sizing: border-box;
                @include ctBox();
                >div{
                    padding:10px 20px;
                    box-sizing: border-box;
                    .ctPassanger__title{
                        @include f20();
                        height: 26px;
                        line-height: 26px;
                        text-align: left;
                        
                    }
                }
                .date{
                    display: none;
                    position: relative;
                    ul{
                        width: 335px; 
                        border:1px solid $color-btn-main;
                        position: absolute;
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        background-color: $color-white;
                            li{
                             
                                    padding: 22px 28px;
                                    line-height: 40px;
                                    font-size: 1rem;
                                    position: relative;
                                    i{
                                        vertical-align: middle;
                                    }
                                    // #date-text{
                                    //     position: absolute;
                                    //     display: inline-block;
                                    //     width: 400px;//之後把這邊改%數
                                    //     min-height: 42px;
                                    //     max-height: 42px;
                                    //     line-height: 42px;
                                    //     overflow: hidden;
                                    //     cursor: pointer;
                                    //     text-align: left;
                                    //     color: #fff;
                                    //     outline: none;
                                    //     border-radius: 21px;
                                    //     background-color: #5db7c5;
                                    //     transition: 0.3s all ease-in-out;
                                    //     &::after {
                                    //         content: "";
                                    //         position: absolute;
                                    //         right: 10%;
                                    //         top: 1.2em;
                                    //         border: 0.4em solid #fff;
                                    //         border-color: #fff transparent transparent transparent;
                                    //         transition: .4s all ease-in-out; 
                                    //       }
                                    //     input {
                                    //         display: none;
                                    //     }
                                    //     label {
                                    //         border-top:0.06em solid #d9d9d9;
                                    //         display: block;
                                    //         @include pLeft(10);
                                    //         cursor: pointer;
                                    //         font-family: "Microsoft JhengHei";
                                    //         position: relative;
                                    //         transition: 0.3s color ease-in-out;
                                    //         @include f16b;
                                    //     }
                                    //     label:nth-child(2) {
                                    //         @include mTop(42);
                                    //     }
                                      
                                    // }
                                    //     .expanded {
                                    //     background-color: #5db7c5;
                                    //     border-radius: 21px;
                                    //     padding: 0;
                                    //     max-height: 100%;
                                    //     &::after {
                                    //         transform: rotate(-180deg);
                                    //         top: 0.6em;
                                    //       }
                                    //   }
                                    }
                        }
                        
                        .expanded{
                        z-index: 999;
                        }
                        #date{
                        display: none;
                        }
                        
                        // 這邊是顯示日曆的SCSS
                        #date-text label,#date-text-2 label{
                            border-top: unset;
                        }
                        #calendar-tb{
                            z-index: 2;
                        }
                        .calendar{
                            width: 100%;
                            cursor: auto;
                            i{
                                cursor: pointer;
                            }
                            .mm{
                                position: relative;
                                i{   
                                    position: absolute;
                                    left: 230%;
                                    top: 20%;
                                }
                            }
                            .yy{
                                position: relative;
                                i{
                                    position: absolute;
                                    top: 20%;
                                    left: 180%;
                                }
                            }
                            tr{
                                th{
                                    text-align: center;
                                }
                                td{
                                    text-align: center;
                                    cursor: pointer;
                                    margin: 5px;
                                    &:hover{
                                        background-color: $color-btn-main;
                                    }
                                }
                            }
                        }
                }
                
            
            
            }
        }

    }
}

// 第三步驟付款
.ctPay{
    width: 710px;
    margin: $block-margin;

    .ctStep__title{
        @include step();
    }
    >.row{
        @include rwdWrap();
        justify-content: space-between;
        // @include br4();
        // @include ctBorder();
        h3{
            @include f20();
        }
        @include rwd(medium){
            @include mTop(20);
        }
        @include rwd(desktop){
            @include mTop(50);
        }
        .ctRule{
            padding: 20px;
            width: 335px;
            box-sizing: border-box;
            @include ctBorder();
            @include br4();
            .ctRule__text{
                @include f14();
                @include pTop(10);
                p{
                    padding: 4px 0;
                    color:$color-text;
                }
            }
            .ctRule__check{
                @include pTop(10);
                p{
                    padding: 4px 0;
                    color:$color-text;
                    @include pLeft(33); 
                    @include f14();
                }
                @include checkbox(20,0);
            }
    
        
    }
    .ctCredit{
        padding: 20px;
        width: 335px;
        box-sizing: border-box;
        @include ctBorder();
        @include br4();
        // border-left: $ctBorder;
        // @include rwd(mobile){
        //     border-left: none;
        //     border-top:$ctBorder;
        // }
        
        .ctCredit__text{
            @include pTop(8);
        p{
            font-size: 0;
            @include f16();
            text-align: right;
            span:first-child{
                margin-right: 20px;
            }
            input{
                width: 166px;
                height: 32px;
                @include br4();
                // @include rwd(medium){
                //     width: 120px;
                // }
            // @include rwd(mobile){
            //     width: 180px;
            // }
                box-sizing: border-box;
            }
            select{
                height: 32px;
                display: inline-block;
                line-height: 32px;
                border:1px solid $color-btn-main;
                border-radius: 16px;              
                appearance:none;
                -moz-appearance:none;
                -webkit-appearance:none;
                background-color: $color-white;
                @include pLeft(20);
                option{
                    font-size: 24px;
                    background-color: $color-white;
                }
                // @include ctBorder();
                text-shadow: none;
            }
            &:first-child{
                @include mTop(8);
            }
            &:not(:first-child){
                @include pTop(15);
            }
            &:nth-child(4) span:nth-child(2) {
                display: inline-block;
                text-align: left;
                width: 166px;
                // @include rwd(medium){
                //     width: 120px;
                // }
            }
            i{
                width: 30px;
                font-size: 24px;
                @include pLeft(20);
                color:$color-main1;
            }
            /////年月啦
            .ctCredit__select--month{
                display:inline-block;
                width: 80px;
                margin-left:1px;
                // @include rwd(medium){
                //     width: 54px;
                // }
            }
            
            .ctCredit__select--year{
                width: 80px;
                margin-left: 2px;
                // @include rwd(medium){
                //     width: 60px;
                // }
            }
            &:nth-child(4) input{
                width: 80px;
                // margin-left: 5px;
            }
        }
        }
    }

    }
    .ctMobile__btn{
        .btn-pay{
            @include rwd(desktop){
                display: inline-block;
            }
        }
    }
    @include rwd(mobile){
        max-width: 400px;
    }
}

//訂單
.ctSticky{
    width: 335px;
    height: 30%;
    position: sticky;
    position : -webkit-sticky;
    top:100px;
    display: flex;
    @include rwd(desktop){
        // align-self: flex-start;
        position: relative;
        right:0;
        top: 0;
        width: 100%;
        // margin: 0;
        @include pTop(50);
        h2{
            display: block;
        }
    }
    @include rwd(mobile){
        display:none;
        @include pTop(20);
        // width: 100%;
        // box-sizing: border-box;
        // padding: 20px;
    }
    .ctDetail{
        width: 335px;
        // right:50px;
        @include rwd(desktop){
            // align-self: flex-start;
            position: absolute;
            right:0;
            top: 0;
            @include mTop(50);
        }
        .ctDetail__content{
            @include ctBorder();
            @include br4();
            p{
                @include f16();
                padding: 4px 0;
            }
            .ctDetail__text{
                max-width: 100%;
                padding: 20px;
                text-align: left;
            }
            .ctDetail__cal{
                padding:12px 20px;
                text-align: right;
                border-top:1px solid $color-border;
                border-bottom:1px solid $color-border;
                .ctDetail__cal--num{
                    display: inline-block;
                    width: 80px;
                }
            }
            .ctDetail__total{
                padding: 20px;
                text-align: right;
                .ctDetail__total--num{
                    display: inline-block;
                    width: 80px;
                }
            }
        }
        .ctDetail__btn{
            text-align: right;
            padding: 12px 0;
            @include rwd(mobile){
                display: flex;
                justify-content: space-between;
            }
        }
        
    }

}

//跳窗
.ctPaid{
    .jpCont{
        @include pBottom(50);
        p:not(:first-child){
            padding: 10px 0px;
        }
        a{
            color: $color-white;
            text-decoration: $color-white;
        }
    }
}
// .ctPaid{
//     position: fixed;
//     top: 0;
//     width: 50%;
//     left: 0;
//     // height: 50%;
//     background-color:#fff;
//     display: none;
//     h2{
//         text-align: center;
//         @include pTop(100);
//         @include f20b();
//         }
//     >div{
//     width: 335px;
//     margin:20px auto;
//     @include ctBorder();
//     @include br4();

//     p{
//         padding: 20px 50px;
//     }
//     a{
//         color: $color-btn-sub;
//     }
//     }
// }

@include rwd(desktop){
    .ctProduct,
    .ctProfile,
    .ctPay,
    .ctDetail{
        width: 100%;
        margin:0px auto;
        box-sizing: border-box;
        div{
            width: 100%;
            box-sizing: border-box;
        }
    }
    // .ctProduct{
        // padding:80px 20px 20px 20px;
        // @include pTop(80);
    // }
    .ctDetail{
        width: 335px;
    }
}
@include rwd(mobile){
    .ctProduct,
    .ctProfile,
    .ctPay,
    .ctDetail{
        width: 100%;
        max-width: 335px;
        // padding: 20px;
        box-sizing: border-box;
        div{
            width: 100%;
            box-sizing: border-box;
        }
    }
}
// @include o;


