@import"base/_var.scss";
@import"base/_var_cu.scss";
@import "mixin/_mixin.scss";
@import "mixin/_mixin-customized.scss";
p{
    font-family: "Microsoft JhengHei";
}
i{
    vertical-align: middle;

}
.fa-campground{
    font-size: 20px;
}
.material-icons{
    font-size: 23px;
}
// *{
//     outline: 1px solid salmon;
// }
// 手機直 575px
@mixin phone-width() {
    @media screen and (max-width: $phones-media) {
        @content;   
    }
}
//手機橫+手機直 767px
@mixin small-pad-width() {
    @media screen and (max-width: $phone-media) {
        @content;   
    }
}
//iPad+桌機 768px
@mixin pad-width() {
    @media screen and (min-width:$pad-media) {
        @content;   
    }
}
//桌機 992px
@mixin pc-width() {
    @media screen and (min-width: $pc-media) {
        @content;   
    }
}


.nav_menu,footer{
    @include phone-width(){
        display: none;
    }
}
    
    
nav {
    display: flex;
    justify-content: space-between;
    height: 70px;
    font-size: 0; /*除去4px*/
    h1
        img{
            height: 60px;
            padding-left: 20px;
            padding-top: 5px;
            vertical-align: middle;
        }
    li{
        float: left;
    }
    @include phone-width() {
        height: 56px;
        h1 img{
            height: 40px;
            padding-top: 11px;
        }
    }
}
nav,.mw_1200,.cuCustom,.cu__step2{
    max-width: 1200px;
    margin: auto;
}

.nav_txt,.nav_icon{
    float: left;
}
.nav_txt > li > a {
    font-size: 16px;
    color: $color-text;
    line-height: 70px;
    padding-left: 20px;
}
.nav_icon{
    padding: 0 20px 0 32px;
    i{
        color: $color-text;
        line-height: 70px;
    }
}

/*客製化開始*/
.cu_bg{
    background-image: url("../img/cu_bg2.jpg");
    height: 931px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.cuProcess{
    display: flex;
    justify-content: center;
    @include pTop(20);
    @include pBottom(20);
}
.cuProcess__first{
    padding-right: 26px;
}
.cuProcess__first,.cuProcess__second{
    p{
        @include cu_ColorTxt(.9);
        padding-top: 5px;
    }
}
.cuProcess__circle{
    @include cu_ColorTxt(.9);
    border: 2px solid $color-lifegreen;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    @include f16b;
    margin: auto ;
}
.cuProcess__circle--done{
    color: $color-white;
    background-color: $color-lifegreen;
}
.cuProcess__line{
    border: 1px solid $color-lifegreen;
    // width: 76px;
    height: 76px;
    transform: rotate(90deg) translateX(-18px);
    margin: 0 10px;
}
/*客製化流程開始*/
.cuCustom,.cuCustom2{
    @include small-pad-width() {
        margin: auto;
    }
    @include pad-width() {
        display: flex;
        justify-content: center;
        padding: 0 2%;
        box-sizing: border-box;
    }
} 
.cuCustom__crtlRWD{
    @include pad-width(){
        width: 40%;
    }
}

/*選擇器__洲別及山岳*/ 
// .cu_selectNum1{
//     &:before{
// content: '1';
//         @include cu_ColorTxt(.9);
//         border: 2px solid $color-subTitle-a;
//         border-radius: 50%;
//         width: 34px;
//         height: 34px;
//         line-height: 34px;
//         text-align: center;
//         @include f16b;
//         margin: auto ;
//     }
// }
/* The container must be positioned relative: */
.custom-select {
    @include pLeft(20);
    position: relative;
    font-family: Arial;
    width:300px;
    select {
    display: none; /*hide original SELECT element: */
    }
}

.select-selected {
    @include cu_ColorSelect(.76);
    margin-top: 10px;
    &:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
    }
}
// .test:nth-child(2){
//     margin-top: 10px;   
// }


        /* Point the arrow upwards when the select box is open (active): */
        .select-selected.select-arrow-active:after {
        border-color: transparent transparent #fff transparent;
        top: 7px;
        }

        /* style the items (options), including the selected item: */
        .select-items div,.select-selected {
        color: #ffffff;
        padding: 11px 16px;
        border: 1px solid transparent;
        border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
        cursor: pointer;
        }

        /* Style items (options): */
        .select-items {
        @include cu_ColorSelect(1);
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 99;
        // width: 100%;
        }

        /* Hide the items when the select box is closed: */
        .select-hide {
        display: none;
        }

        .select-items div:hover, .same-as-selected {
        background-color: rgba(0, 0, 0, 0.1);
        }
/*客製化空間*/

/*調整風景順序*/ 
.cuCustom__dropZone{
    @include br4;
    @include cu_ColorBg(.22);
    &:before{
        content: '我的風景路線規劃';
        font-family: "Microsoft JhengHei";

        display: inline-block;
        width: 100%;
        color: $color-white;
        padding:  10px 0 10px 20px; 
        box-sizing: border-box;
        @include f20b;
        @include cu_ColorBg(1);
        @include cu_br(4,4);
    }
  
    @include small-pad-width() {
        @include mLeft(20);
        @include mRight(20);
        height: 369px;
        margin: 20px;
        // position: relative;
    }
    @include pad-width() {
        width: 51.6667%;
        height: 549px;
        margin-left: 20px;
    }
   
} 
/*風景列表*/ 
#cuCustom__sceneryTitle{
    @include f16b;
    @include pLeft(20);
    @include pTop(10);
    color: $color-lifegreen;
}
#cuCustom__sceneryZone--bg{
    @include small-pad-width() {
        width: 100%;
    height: 100vh;
    background-color: rgba(31,31,31,.6);
    position: fixed;
    // position: absolute;
    top: 0;
    }
}
.cuCustom__sceneryZone{
    @include br4;
    @include f20b;
    
    @include small-pad-width() {
        background-color: $color-white;
        width: 70%;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 455px; 
        &:before{
            content: '山岳風景列表';
            display: inline-block;
            width: 100%;
            color: $color-white;
            padding:  10px 0 10px 20px; 
            box-sizing: border-box;
            border-radius: 4px 4px 0 0 ;
            // @include f20b;
            @include cu_ColorBg(1);
        }
    }
    @include phone-width() {
        width: 90%;
        
    }
    @include pad-width() {
        height: 455px; 
        background-color: rgba(255, 255, 255, .14);
        width: 100%;
        @include mTop(10);
        // &:before{
        //     content: '山岳風景列表';
        //     display: inline;
        //     width: 100%;
        //     color: $color-lifegreen;
        //     height: 47px;
        //     padding:  13px 0 10px 20px; 
        //     box-sizing: border-box;
        //     border-radius: 4px 4px 0 0 ;
        //     position: relative;
        //     top: -20px;
            
            
        // }
        }
}

#cuCustom__sceneryZone--OF{
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include small-pad-width() {
        height: 357px;
    }
    @include pad-width() {
        height: 430px;
        transform: translateY(10px);
        &::-webkit-scrollbar-track{
            background: #65B8C6; 
          }
    }
}
// #scroll::-webkit-scrollbar-track{
//     background: #65B8C6; 
//   }
.cuCustom__sceneryItem{
    background: url("../img/cu__sceneryItem.png") ;
    background-size: cover;
    margin: 10px;
    position: relative;
    color: $color-white;

    &::before{
        content: '';
        width: 100%;
        height: 100%;
        display: inline-block;
        background-image:linear-gradient(
            360deg,
            rgba(0, 0, 0, 0.2) 20px,
            rgba(0, 0, 0, 0.18),
            rgba(0, 0, 0, 0)
        )
        ;
    }
    @include small-pad-width() {

        width: 140px;
        height: 140px;
    }
    @include pad-width() {
        width: 180px;
        height: 180px;
    }
    div:first-child{
        position: absolute;
        left: 10px;
        bottom: 10px;
        @include f16;
        i{
            color: rgba(255, 255, 255, .8);
            padding-top: 2px;
        }
    }
    span{
        @include f16;
        position: absolute;
        right: 10px;
        top: 10px;
        font-family: "Arial";
        font-weight: normal;
    }
}
.cuCustom__showOption{
    @include pad-width() {

        @include br4;
        display: none;
        position: absolute;
        top: 0;
        width: 100%;height: 100%;
        text-align: center;
        background: rgba(0, 0, 0, 0.65);
    }
}
#btn_cuAddScenery,#btn_cuWatchScenery{
    @include pad-width() {
        font-size: 50px;
        line-height: 180px;
        cursor: pointer;
    }

}
#btn_cuAddScenery--confirm{
    @include small-pad-width() {
        @include btn;
        @include btn-s;
        border: 2px solid $color-btn-main;
        background-color: $color-btn-main;
        margin: 5px auto;
    }
    @include pad-width{
        display: none;
    }
}
#btn_cuCheckScenery{

    @include small-pad-width() {
        border: 2px solid $color-btn-main;
        background-color: $color-btn-main;
        border-radius: 50%;
        width: 34px;
        height: 34px;
        text-align: center;
        box-shadow: $shadow;
        color: $color-white;
        // position: absolute;
        bottom: 10px;
        right: 10px;
        @include f16b;
        i{
            line-height: 34px;
        }    
    }
    @include pad-width(){
        display: none;
    }
    
}
#btn_cuPickTG{
    @include btn;
    @include btn-l;
    @include f16b;
    background-color: $color-btn-main;
    border-color: $color-btn-main;
    margin: auto;
}



/*客製化步驟二*/
.cu_pickGuide{
    @include pTop(10);
}
.cu_guideList{
    width: 940px;
    height: 331px;
    overflow: auto;
}
.cu_guideItem{
    width: 300px;
    height: 350px;
    background-color: $color-lifegreen;
    @include cu_ColorBg(.9);
    @include mLeft(20);
    text-align: center;
    h4,p{
        color: $color-white;
    }
    h4{
        @include f20b;
        @include pTop(20);
        @include pBottom(10);
    }
    p{
        padding: 0 20px;  
        text-align: initial;
        line-height: 1.6;      
    }
    img{
        padding: 20px 0;
    }
}
/*footer*/
footer{
    width: 100%;
    height: 180px;
    background-color: #2f2f2f;
    .footer_ptb{
        display: flex;
        justify-content: space-between;
        padding: 50px 20px 0;
        div{
            color: $color-white;
        }
    }
    .footer_info{
        li{
            padding-bottom: 6px;
            display: block;
        }
    }
    a{
        color: $color-white;
        line-height: 19px;
    }
    .footer_subscribe{
        text-align: center;
        input[type="text"]{
            border:1px solid $color-white;
            border-radius: 4px 0 0 4px;
            padding: 10px 47px 10px 8px;
            background: none;
            color: $color-white;
        }
        input[type="submit"]{
            border:1px solid $color-white;
            border-radius: 0 4px 4px 0; 
            padding: 10px; 
            background:$color-white;
            cursor:pointer;
            transform: translateX(-6px);
        }
        p{
            padding-top: 46px;
        }
    }
    .footer_social{
        i{
            padding: 0 16px 26px 0;
        }
    }
}
