@import "style.scss";
@import"base/_var_cu.scss";
@mixin small-pad-width() {
    @media screen and (max-width: $phone-media) {
        @content;   
    }
}
//iPad+桌機 768px
@mixin pad-width() {
    @media screen and (min-width:$pad-media) {
        @content;   
    }
}
    ul{
        position: relative;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        li{
            line-height: 50px;
            font-size: 1rem;
            position: relative;
            #date-text{
                position: absolute;
                display: inline-block;
                width: 300px;//之後把這邊改%數
                min-height: 42px;
                max-height: 42px;
                line-height: 42px;
                overflow: hidden;
                cursor: pointer;
                text-align: left;
                color: #fff;
                outline: none;
                border-radius: 21px;
                background-color: #5db7c5;
                transition: 0.3s all ease-in-out;
                &::after {
                    content: "";
                    position: absolute;
                    right: 10%;
                    top: 1.2em;
                    border: 0.4em solid #fff;
                    border-color: #fff transparent transparent transparent;
                    transition: .4s all ease-in-out; 
                  }
                input {
                    display: none;
                }
                label {
                    border-top:0.06em solid #d9d9d9;
                    display: block;
                    @include pLeft(10);
                    cursor: pointer;
                    font-family: "Microsoft JhengHei";
                    position: relative;
                    transition: 0.3s color ease-in-out;
                    @include f16b;
                }
                label:nth-child(2) {
                    @include mTop(42);
                }
              
            }
                .expanded {
                background-color: #5db7c5;
                border-radius: 21px;
                padding: 0;
                max-height: 100%;
                &::after {
                    transform: rotate(-180deg);
                    top: 0.6em;
                  }
              }
            }
        }
    li{
        #date-text.expanded{
            max-height: 400px;
        }
    }
.expanded{
    z-index: 999;
}
#date{
    display: none;
}
#date-text{
    @include small-pad-width(){
        margin-left: 20px;
    }
    @include pad-width(){
        margin-left: 150px;    
    }
}
// 這邊是顯示日曆的SCSS
   #date-text label,#date-text-2 label{
        border-top: unset;
    }
    #calendar-tb{
        z-index: 2;
    }
    .calendar{
        width: 100%;
        cursor: auto;
        i{
            cursor: pointer;
        }
        .mm{
            position: relative;
            i{   
                position: absolute;
                left: 230%;
                top: 20%;
            }
        }
        .yy{
            position: relative;
            i{
                position: absolute;
                top: 20%;
                left: 180%;
            }
        }
        tr{
            th{
                text-align: center;
            }
            td{
                text-align: center;
                cursor: pointer;
                margin: 5px;
            }
        }
    }
