@import "base/_var.scss";
@import "mixin/_mixin.scss";
@import "mixin/_mixin-journalsOverview.scss";

*{
    outline: 1px solid red;
    select:focus, button{
        outline: none;
    }
}
a:hover div{
    transform: scale(1.1);
}

.joOverview_map img{
    display: block;
    margin: auto;  
    width: 90%;
}
.row{
    justify-content: space-between;
}
.btn-main-l{
    background-color:$color-btn-main;
    @include btn();
    @include btn-l();
}
.joForm_input{
    width: 90%;
    margin:auto;
    @include pBottom(50);
    
}
.joOverview_card{
    width: 90%;
    margin:auto;
    @include br4();
    // @include pTop(50);
   
    .date,h2,.text{
        margin: 10px;
    }
    img{
        max-width: 100%;
        border-radius: 4px 4px 0 0;
    }
    .date{
        @include f14;
        color:$color-subTitle;
    }
    h2{
        @include f20b;
        color:$color-text; 
    }
    .text{
        @include f14;
        color:$color-text; 
        line-height:1.5em ;
    }
}


.col-4{
    @include br4();
    margin:20px;
    background-color: $color-btn-sub;
    box-shadow: $shadow;
    

    
}
