@import"base/_var.scss";
@import"base/_var_jn.scss";
@import "mixin/_mixin.scss";
@import "_header.scss";
@import "_footer.scss";

// @import "mixin/_mixin-customized.scss";
p{
    font-family: "Microsoft JhengHei";
}
i{
    vertical-align: middle;

}

.material-icons{
    font-size: 23px;
}
.jnJCC{
    justify-content: center;
}
// *{
//     outline: 1px solid salmon;
//     color:$color-text;
// }
// 手機直 575px
@mixin phone-width() {
    @media screen and (max-width: $phones-media) {
        @content;   
    }
}
//手機橫+手機直 767px
@mixin small-pad-width() {
    @media screen and (max-width: $phone-media) {
        @content;   
    }
}
//iPad+桌機 768px
@mixin pad-width() {
    @media screen and (min-width:$pad-media) {
        @content;   
    }
}
//桌機 992px
@mixin pc-width() {
    @media screen and (min-width: $pc-media) {
        @content;   
    }
}




/*****  個人日誌開始  *****/ 

.jnBg{
    @include pTop(58);
    @include pBottom(100);
    background-color: $color-main-blue;
    width: 100%;
    // height: 3000px;
}
.jnMw1200{
    max-width: 1200px;
    margin: auto;
}
.jnBread{
    padding: 20px 0 40px 40px;
    color: $color-white;
    @include small-pad-width(){
        display: none;
    }
}
.jnPaper.jnPaper{
    background-color: $color-white;
    @include small-pad-width(){
        width: 100%;
    }
    @include pad-width(){
        @include br4;
        width: 93.3333%;
        // height: 600px;
        margin: auto;
    }
}
#jnContent{
    @include pBottom(50);
    p{
        line-height: 1.6;
        padding: 15px 0;
    }
    img{
        width: 100%;
    }
    @include pad-width(){
        width: 66.964%;
        padding: 0 0 0 2%;
        transform : translateY(-30px);
    }
}
#jnContent__plr20{
    @include small-pad-width(){
        padding: 0 20px 35px 20px;
    }
}
#jnContent__imgCtrl{
    position: relative;
}
#jnIcon__fav{
    position: absolute;
    top: 10px;
    right: 10px;
    color: opacify($color: #F78080, $amount: 1);
}
#jnContent__info{
    color: $color-text;
    position: sticky;
    top: 68px;
    bottom: 100px;
    #jnContent__info--pos{
        position: sticky;
        top: 70px;
    }
    h2{
        @include f20b;
        @include pBottom(20);
        line-height: 1.6;
    }
    @include pad-width(){
        padding: 20px 20px 50px 30px;
    }
}
.jnContent__social{
    text-align: right;
    button{
        border: none;
        padding: 0;
        img{
            vertical-align: middle;
        }
    }
    @include small-pad-width(){
        @include pTop(10);
    }
}

.jnContent__infoW{
    #jnContent__myphoto{
        @include pBottom(10);
        width: initial;
    }
    span{
        font-size: 14px;
        color: $color-lightgray;
        display: inline-block;
        line-height: 1.6;
    }
    @include small-pad-width(){
        float: left;
    }   
}
.jnContent__infoJ{
    position: relative;
    h3,p{
        line-height: 1.6;
    }
    @include small-pad-width(){
        @include pLeft(20);
        float: right;
    }
}
#jnContent__date{
    @include pBottom(10);
    display: inline-block;
}
#btn__jnReport{
    @include btn;
    @include btn-s;
    @include mTop(20);
    background-color: $color-btn-sub;
    border: none; 
    cursor: pointer;
    @include small-pad-width(){
        position: absolute;
        right: 0;     
    }
}
#btn__jnSeeProd{
    @include btn;
    @include btn-l;
    background-color: $color-btn-main;
    border: none; 
    cursor: pointer;
    @include small-pad-width(){
        margin: auto;
    }
    @include pad-width(){
        position: relative;
        top: 10px;
        &::after{
            content: '';
            display: block;
            width: 100px;
            height: 50px;
        }
    }
}
.clearfix{
    clear: both;
}


.jnFB{
    position: relative;
    top: 50px;
    margin: auto;
    background-color: aliceblue;
}

.jnFB{
    background-color: $color-white;
    position: relative;
    top: 50px;
    // height: 300px;
    @include small-pad-width(){
        width: 100%;
    }
    @include pad-width(){
        @include br4;
        width: 93.3333%;
        // height: 600px;
        margin: auto;
    }
}