@import "base/_var.scss";
@import "mixin/_mixin.scss";
@import "mixin/_mixin-journalsOverview.scss";

*{
    // outline: 1px solid red;
    select:focus, button{
        outline: none;
    }
    font-family: "微軟正黑體" !important;
}

a{
    display: block;
    transition:1s;
    @include rwd(desktop){
        &:hover{
        transform: scale(1.1); 
        }
    }
}


.jo__map img{
    display: block;
    margin: auto;  
    width: 80%;
    @include rwd(mobile){
        display: none;
    }
    
}
.row{
    justify-content: space-between;
    flex-wrap: wrap;      
}
.btn-main-l{
    background-color:$color-btn-main;
    @include btn();
    @include btn-l();
}
.jo__filter__and__write{
    width: 90%;
    box-sizing: border-box;
    margin:auto;
    @include pTop(50);
    @include pBottom(50);
    .jo__filter__text{
        margin:auto;
        @include rwd(mobile){
            display: none;
        }
    }
}
.jo__allcards{
    margin:auto;
    @include pBottom(50);
    columns: 270px;
    column-gap: 60px; 
    width: 90%;
    
    .jo__onecard{
        @include mBottom(40);
        border: 1px solid #ccc;
        @include br4();
        background: #fff;
        transition: 0.5s;
    }
    .jo__allinfo{
        padding: 20px;
    }
    .jo__publish,h3,.jo__text{
        // padding: 10px;
        @include pTop(10);
        // font-family: "微軟正黑體";
    }
    img{
        max-width: 100%;
        border-radius: 4px 4px 0 0;
        vertical-align:text-top;
    }
    .jo__publish{
        @include f14;
        font-size: 12px;
        color:$color-subTitle;
    }
    h3{
        @include f20b;
        color:$color-text; 
    }
    .jo__text{
        @include f14;
        color:$color-text; 
        line-height:1.5em ;
    }
        
}   
   
.joOverMore button{
     margin: auto;
}
