@import "base/_var.scss";
@import "mixin/_mixin.scss";
@import "mixin/_mixin-memberCommon.scss";

*{
    // outline: 1px solid red;
}
body{
    background-color: $color-white;
    color: $color-text;
    *{
        font-family: "微軟正黑體";
    }
    
}
.memberBanner{
    // background-image: url("../img/banner.jpg");
    // background-position: center; 
    // background-repeat: no-repeat; 
    // background-size:cover;
    // height: 300px;


    position: relative;
    padding-top: 60px;
    max-width: 2500px;
    width: 100%;
    margin: auto;
    img{
    width: 100%;
    height: auto;
    }
    h2{
        @include f30b;
        color: $color-main1;
        // padding-left: 50px;
        position: absolute;
        top: 40%;
        left: 5%;
        @include rwd(mobile){
            @include f20b;
        }
    }   
}
.memberWrap{
    position: relative;
}
.maximunInfoAndContent{
    max-width: 1200px;
    margin: auto;
    position: relative;
}
.memberInfo{
    width: 360px;
    height: 600px;
    margin-top: 20px;
    box-shadow: $shadow;
    // position:sticky;
    // top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    @include rwd(medium){
        flex-direction: row;
        margin: auto;
        height: 290px;
        width: 600px;
    }
    
    .row{
        padding-top: 20px;
        flex-direction: column;
        // @include rwd(medium){
        //     flex-direction: row;
        // }
        // @include rwd(mobile){
        //     flex-direction: column;
        // }
        div{
            margin: 0 auto;
            text-align: center;
            padding: 10px 0 10px 0;
        }
    }
    
    .memberPic{
        width: 150px;
        height: 150px;
        margin: 0 auto;
        img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        }
    }
    #name{
        @include f20b;
        color: $color-main2;
    }
    #email{
        @include f16;
    }
    #pointNum{
        #point{
            color: $color-btn-sub;
            @include f40;
            @include rwd(medium){
                border-radius: 50%;
                background-color: $color-btn-sub;
                color: $color-white;
            }
        }
        span{
           @include rwd(medium){
            //    display: none;
           }
        }
    }
    #pointIntro{
        width: 260px;
        padding-top: 40px;
        @include rwd(medium){
            padding-top: 0;
        }
        h4{
            @include f20b;
            padding-top: 20px;
        }
        span{
            display: block;
            padding-top: 10px;
            @include f16;
        }
        img{
            color: $color-main1;
            width: 40px;
        }
        p{
            @include f16;
        }
        .pointIntroRow{
            display: flex;
            flex-direction: row;

        }
    }
}  
