@import "base/_var.scss";
@import "mixin/_mixin.scss";
@import "mixin/_mixin-member.scss";
@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

*{
    // outline: 1px solid red;
}
#header-all{
    #burger-text{
        li {
            a{
                font-size: 1rem;
            }
        }
    }
}
#filterList{
    #filterListLi{
        font-size: 1rem;
    }
}
#burger-text{
    top: unset;
}
body{
    position: relative;
    background-color: $color-white;
    color: $color-text;
    *{
        font-family: "微軟正黑體";
    }
    
}
.memberBanner{
    position: relative;
    padding-top: 60px;
    // max-width: 2500px;
    width: 100%;
    margin: auto;
    img{
    width: 100%;
    height: auto;
    }
    #showOnlyDesktop{
        position: absolute;
        bottom: 0;
        left: 0;
        @include rwd(medium){
            display: none;
        }
    }
    h2{
        @include f30b;
        color: $color-main1;
        width: 1200px;
        margin: auto;
        height: 0;
        position: relative;
        top: 110px;
        left: 20px;
        // top: 40%;
        // left: 5.5em;
        @media(max-width:1024px) {
            position: absolute;
            top: 40%;
            left: 20px;
            width: 90%;
        }
        @include rwd(mobile){
            @include f20b;
            top: 50%;
        }

    }   
}
.memberWrap{
    position: relative; 
    max-width: 1200px;
    padding: 40px 20px 0 20px;
    margin: auto;
    width: 100%;
    box-sizing: border-box;
    @include rwd(medium){
        // position: absolute;
        top: -71px;

    }
    @include rwd(mobile){
        // top: 60%;
    }
    
   
    .rowWithTab{  
        position: relative;
        display: flex;
        @include rwd(medium){
            flex-direction: column;
            align-items: center;
        }
        .col-3{
            @include rwd(medium){
                width: 100%;
            }
        }
        .col-9{
            @include rwd(medium){
                width: 100%;
            }
        }
    }
}
.maximunInfoAndContent{
    // max-width: 1200px;
    margin: auto;
    position: relative;
    background-color: $color-white;
    box-shadow: $shadow;
    // display: flex;
}
.memberInfo{
    // width: 360px;
    // height: 600px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    @include rwd(medium){
        flex-direction: row;
        margin: auto;
        justify-content: center;
        // height: 290px;
        // width: 600px;
    }
    
    .row{
        padding-top: 20px;
        flex-direction: column;
        @include rwd(medium){
            flex-direction: row;
        }
        @include rwd(mobile){
            flex-direction: column;
            padding: 0;
        }
        div{
            margin: 0 auto;
            text-align: center;
            padding: 10px 0 10px 0;
    }
    
    .memberPic{
        width: 150px;
        height: 150px;
        margin: 0 auto;
        img{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            &:hover{
                background-color: rgba(0,0,0,.65);
            }
        }
    }
    #name{
        @include f20b;
        color: $color-main2;
    }
    #email{
        @include f16;
    }
    #pointNum{
        #point{
            color: $color-btn-sub;
            @include f40;
            @include rwd(medium){
                border-radius: 50%;
                background-color: $color-btn-sub;
                color: $color-white;
            }
        }
        span{
           @include rwd(medium){
               display: none;
           }
        }
    }
    #pointIntro{
        // width: 260px;
        // padding-top: 40px;
        @include rwd(medium){
            padding-top: 0;
        }
        @include rwd(mobile){
            display:  none;
        }
        h4{
            @include f20b;
            padding-top: 20px;
        }
        span{
            display: block;
            padding-top: 10px;
            @include f16;
        }
        img{
            color: $color-main1;
            width: 40px;
        }
        p{
            @include f16;
        }
        .pointIntroRow{
            display: flex;
            flex-direction: row;
            div{
                padding: 0px 5px 20px 5px;
            }
            
        }
    }
} 
}



.tab.theme-a {
    text-align: center;
    position: relative;
  }
  
ul{
    font-size: 0;
    width: 40%;
    display: inline-block;
    // text-align: left;
    top: 20px;
    padding: 0;
    @include rwd(mobile){
        width: 100%;
    }
}
  
  .tab-component {
    position: relative;
    width: 100%;
    display: inline-block;
    section {
        width: 100%;
        display: inline-block;
        text-align: left;
        position: relative;
        top: 20px;
        padding: 30px;
        box-sizing: border-box;
        display: none;
        margin-bottom: 30px;
        &:first-of-type {
            display: inline-block;
        }
        @include rwd(medium){
            padding: 30px 0 0px 0;
            margin: unset;
        }
        h3{
            @include f20b;
            color: $color-text;
            padding-bottom: 10px;
        }
        .allOrdersCard{
            .oneOrderCard{
                box-shadow: $shadow;
                @include br4;
                margin-bottom: 30px;
                @media (max-width:992px) {
                   
                }
                .rowWithOrder{
                    display: flex;
                    @include rwd(mobile){
                        flex-wrap: wrap;
                    }
                    .orderImg{
                        width: 30%;
                        @include rwd(mobile){
                            width: 100%;
                        }
                        img{
                            display: none;
                            @include rwd(mobile){
                                display: block;
                                width: 100%;
                            }
                            
                        }

                        background-image: url("../img/himalaya1.jpg");
                        background-position: center; 
                        background-repeat: no-repeat; 
                        background-size:cover;
                    }
                    .orderInfo{
                        max-width: 37%;
                        padding: 10px;
                        color:$color-text;
                        flex: auto;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        @include rwd(mobile){
                            max-width: 100%;
                        }
                        .orderText{
                            display: flex;
                            // flex-wrap: wrap;
                            // justify-content:space-around;
                        }
                        span{
                            font-size: 12px;
                            padding: 0 5px;               
                        }
                        h4{
                            @include f20b;
                            padding: 5px;  
                            line-height: 1.5rem;   
                        }
                        p{
                            @include f14;
                            padding: 5px;         
                            // font-family: "微軟正黑體";   
                        }
                        h4+.orderText>p>span{
                            font-size: 14px;
                        }
                        .price{
                            @include f16b;
                        }
                    }
                    .dateAndButtons{
                        padding: 10px;
                        @include rwd(mobile){
                            width: 100%;
                            justify-content: flex-end;
                            padding: 0 0 10px 0;
        
                        }
                        
                        .duration{
                            display: flex;
                            align-items: center;
                            justify-content: space-around; 
                            padding-bottom: 10px;
                            @include rwd(mobile){
                                display: none;
                            }
                            .dateImg{
                                position: relative;
                                #startYearMonth{
                                    @include f16b;
                                    color: $color-white;
                                    position: absolute;
                                    top: 8%;
                                    left: 10%;
                                }
                                #startDay{
                                    @include f30b;
                                    font-size: 40px;
                                    color: $color-main2;
                                    position: absolute;
                                    top: 43%;
                                    left: 20%;
                                }
                                #endYearMonth{
                                    @include f16b;
                                    color: $color-white;
                                    position: absolute;
                                    top: 8%;
                                    left: 10%;
                                }
                                #endDay{
                                    @include f30b;
                                    font-size: 40px;
                                    color: $color-main2;
                                    position: absolute;
                                    top: 43%;
                                    left: 20%;
                                }
                            }
                            .material-icons{
                                @include f30b;
                                color: $color-text;
                            }
                        }
                        .fourButtons{  
                            display: flex;
                            align-items: flex-end;
                            // flex-wrap: wrap;
                            @include rwd(medium) {
                                // width: 100%;
                                justify-content: flex-end;
                            }
                            @include pTop(10);
                            // justify-content: space-between;
                            .img-buttons{
                                margin:0 5px;
                                width: 25px;
                                height: 25px;
                                img{
                                    width: 100%;
                                }
                            }
                            button{
                                @include btn;
                                margin: 0 5px;
                                height: 30px;
                                line-height: 30px; 
                                width: 80px; 
                                @include rwd(mobile){
                                    @include f14;
                                }
                            }
                            .btnDetail{
                                background-color: $color-btn-main;
                            }
                            .btnEquip{
                                background-color: $color-btn-sub;
                            }
                        }
                    }                 
                }
            }   
        }
    }
    .downArrow{
        a{
            display: block;
            margin: auto;
            text-align: center;
        }
    }
        .currentOrders{
            #currentOrdersArrow{
                font-size: 50px;
                color: $color-btn-main;
                cursor: pointer;
                user-select: none;
                
            }
        }
        .historyOrders{
            padding-top: 70px;
            .btnRate{
                background-color: $color-btn-main;
            }
            .btnSecondOrder{
                background-color: $color-btn-sub;
            }
            #historyOrdersArrow{
                font-size: 50px;
                color: $color-btn-main;
            }
        }
        

    }

    #tab-c{
        .eqSelect{
            // position: relative;
            // height: 44px;
            .joForm__input {
                z-index: 500;
                position: absolute;
                display: inline-block;
                width: 186px;
                text-indent: 10px;
                min-height: 42px;
                max-height: 42px;
                line-height: 42px;
                overflow: hidden;
                cursor: pointer;
                text-align: left;
                white-space: nowrap;
                color: $color-btn-main;
                outline: none;
                border-radius: 21px;
                background-color: $color-white;
                border: 2px solid $color-btn-main;
                transition: 0.3s all ease-in-out; 
            }
    
    
    
            .joForm__input input {
                display: none; 
            }
    
    
            .joForm__input label {
                border-top: .06em solid #d9d9d9;
                display: block;
                font-style: 16px bold !important;
                padding-Left: 5px;
                font-size: 16px;
                font-weight: bold;
                font-family: Microsoft JhengHei;
                cursor: pointer;
                position: relative;
                transition: 0.3s color ease-in-out; 
            }
    
    
            .joForm__input label:nth-child(2) {
                margin-top: 42px; 
            }
    
    
            .joForm__input input:checked + label {
                display: block;
                border-top: none;
                position: absolute;
                top: 0; 
            }
    
    
            .joForm__input input:checked + label:nth-child(2) {
                margin-top: 0px;
                position: relative; 
            }
    
    
            .joForm__input::after {
                content: "";
                position: absolute;
                right: 10%;
                top: 1.2em;
                border: 0.4em solid #484848;
                border-color: $color-btn-main transparent transparent transparent;
                transition: .4s all ease-in-out; 
            }
    
    
            .joForm__input.expanded {
                background-color: $color-white;
                border: 2px solid $color-btn-main;
                border-radius: 21px;
                padding: 0;
                max-height: 100%; 
            }
    
    
            .joForm__input.expanded::after {
                transform: rotate(-180deg);
                top: 0.6em; 
            }
        }
        >.row{
            
            padding: 20px 0;
            width: 100%;
            flex-wrap: wrap;
            justify-content: space-between;
            @include mTop(44);
            @include rwd(mobile){
                justify-content: center;
                flex-direction: column;
            }
            .eqList{
                width: 372px;
                height: 392px;
                background-color: $color-main1;
                color:$color-white;
                box-sizing: border-box;
                padding:10px;
                margin: 10px 0;
                // &:nth-child(even){
                //     // @include mLeft(20);
                // }
                @media only screen and (max-width: 1024px) {
                    width: 49%;
                }
                @include rwd(mobile){
                    width: 100%;
                    padding: 0;
                }
                .eqCont{
                    padding: 10px 20px;
                    // border:1px solid $color-white;
                    @media only screen and (max-width: 1024px) {
                        padding: 10px 0;
                    }
                    @include rwd(medium){
                        padding: 10px;
                    }
                    
                    @include br4();
                    h3{
                        color:$color-white;
                        margin: auto;
                        width: 300px;
                        @include rwd(mobile){
                            width: 100%;
                        }
                    }
                    ul{
                        width: 300px;
                        max-height: 272px;
                        overflow: auto;
                        display: block;
                        margin: auto;
                        @include rwd (mobile){
                            width: 100%;
                        }
                        &::-webkit-scrollbar{
                            display: none;
                        }
                        // max-height: 300px;
                    li{
                        font-size: 0;
                        background-color: rgba(244,244,244,.2);
                        // box-sizing: border-box;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        &:not(:first-child){
                            @include mTop(4);
                        }
                        label{
                            font-size: 0;
                            width: 90%;
                            @include pLeft(10);
                            span{
                                @include f16();
                                display: inline-block;
                                line-height: 42px;
                                vertical-align: middle;
                                max-width: 240px;
                            }
                            
                            i{
                                font-size: 24px;
                                // display:inline-block;
                                vertical-align: middle;
                                float: right;
                                // @include mTop(10);
                                line-height: 42px;
                            }
                            i:nth-child(3){
                                display: none;
                            }
                            
                            input[type='checkbox']{
                                position: absolute;
                                clip:rect(0,0,0,0);
                            }
                            input[type='checkbox']:checked + i:nth-child(3){
                                display: block;
                            }
                            input[type='checkbox']:checked ~ i:nth-child(4){
                                display: none;
                            }
                        }
                        // label{
                        //     i{
                        //         line-height: 42px;
                        //     }
                            

                        // }
                        >i:last-child{
                            font-size: 24px;
                            display: inline-block;
                            line-height:42px;
                            vertical-align: middle;
                            @include mLeft(4);
                        }
                        i{
                            cursor: pointer;
                        }
                    }
                    }
                    .eqPlus{
                        box-sizing: border-box;
                        position: relative;
                        // @include mTop(4);
                        @include rwd(mobile){
                            width: 100%;
                            margin: auto;
                        }
                        input{
                            text-indent: 10px;
                            width: 300px;
                            display: block;
                            border:none;
                            border-radius: 0;
                            background-color: rgba(244,244,244,.8);
                            padding: unset;
                            height: 42px;
                            margin: 4px auto 0 auto;
                            @include f16();
                            @include rwd (mobile){
                                width: 100%;
                            }
                        }
                        i{
                            position: absolute;
                            right:14px;
                            top: 50%;
                            width: 20px;
                            color:$color-main2;
                            font-weight: bolder;
                            transform: translate(0,-50%);
                            cursor: pointer;
                        }
                    }
                    
                }
            }
        }
    }
  
  .tab{
    li{
        float: none;
        list-style: none;
        display: inline-block;
        width: 33.33%;
        text-align: left;
        text-indent: 15px;
        @include f14;
        padding: 0;
        height: 30px;
        position: relative;
        @include rwd(medium){
            text-indent: 0;
        }
    }
    a{
        @include f20b;
        padding: 0;
        color: $color-main2;
        // width: 100%;
        height: 100%;
        display: inline-block;
        line-height: 30px;
        vertical-align: middle;
        text-decoration: none;
    }
  } 
  .tab-underline {
    height: 2px;
    padding-top: 5px;
    width: 100%;
    // background-color: #EDEDF0;
    border-radius: 3px;
    position: relative;
    .line {
        width: 21%;
        display: inline-block;
        height: 2px;
        background-color: $color-main2;
        position: absolute;
        left:0;
        transition: .3s ease-in-out;
        @media only screen and (max-width:1024px) {
            width: 28%;
        }
        @include rwd(mobile){
            width: 24%;
        }
       
        
      }
  }  
  .tab li.active:first-child ~ .tab-underline .line {
    left: 9%;
    @include rwd(medium){
        left: 0%;   
    }
  }
  
  .tab li.active:nth-child(2) ~ .tab-underline .line {
    left: 42.5%;
    @include rwd(medium){
        left: 33.5%;   
    }
  }
  
  .tab li.active:last-of-type ~ .tab-underline .line {
    left: 76%;
    @include rwd(medium){
        left: 67%;   
    }
  }
  

  
//跳窗
#jpWin-delete{
    p{
        text-align: center;
    }
}
.jpBase{
    z-index: 1200;
    .jpWin{
        .jpCont{
            p{
                text-align: center;
            }
            .rating { 
                border: none;
                float: left;
                width: 210px;
                padding: 0 20px 10px 20px;
                > input{ 
                    display: none; 
                }
                > label:before { 
                    margin: 10.7px;
                    font-size: 1.5em;
                    font-family: FontAwesome;
                    display: inline-block;
                    content: "\f1bb";
                }
                > label { 
                    color: $color-ph; 
                    float: right; 
                    cursor: pointer;
                }
            }

            .rating > input:checked ~ label, /* show gold star when clicked */
            .rating:not(:checked) > label:hover, /* hover current star */
            .rating:not(:checked) > label:hover ~ label { color:$color-main3;  } /* hover previous stars in list */
            
            textarea{
                display: block;
                margin: auto;
                font-size: 12px;
                font-family: "microsoft jhenghei";
                border: 1px solid $color-ph;
                background-color: $color-white;
                margin-top: 6px;
                border-radius: 4px;
                resize: none;
                &:-webkit-scrollbar-track{
                    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                    border-radius: 10px;
                    background-color: $color-white;
                  
                }
                &::-webkit-scrollbar{
                    width: 4px;
                    background-color: $color-white;
                }
                &::-webkit-scrollbar-thumb{
                    border-radius: 10px;
                    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
                    background-color:$color-gray1;
                }
                &::placeholder {
                    color:$color-text;
                    font-size: 16px; 
                }
                &:hover {
                    border-color:$color-gray1; 
                }
            }    
        }
    }
} 
  

  
//   .tab-component section:first-of-type {
//     display: inline-block;
//   }




// ul::-webkit-scrollbar {
//     display: none;
// }
