@import "base/_var.scss";
@import "mixin/_mixin.scss";
@import "mixin/_mixin-memberSystem.scss";

*{
    // outline: 1px solid red;
}
.mainContent{
    height: 1000px;
}

.row img{
    width: 100%;
}
.row{
    padding-top: 50px;
    color: $color-text;
}
#currentWebsite{
    color:$color-main-yellow;
}
body{
    // position: fixed;
    width: 100%;
    // height: 100vh;
    // background-image: url(../img/cabin.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position:bottom;
    background-attachment: fixed;
    font-family: "Microsoft JhengHei";
    // height: 100%;
    @include rwd(desktop){
        background-position:right;
    }


}
.msNav{
    z-index: 998;
    padding: 20px 0;
    min-width: 250px;
    text-align: center;
    position: fixed;
    @include rwd(mobile){
        display: none;
    }
    h2{
        @include f30b();
        @include pTop(20);
    }
    ul{ 
        
        padding: 30px 20px;
        background-image: url(../img/woodframe.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 10px top;
        @include rwd(medium){
            // background-image: none;
            padding: 30px 0;
        }
        li{
            padding: 30px 25px 20px 25px;
            background-image: url(../img/woodboard1.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center ;
            a{
                padding: 10px;
                color: white;
                @include f20b();
                &:hover{
                    color:#d8dd76;
                }
            }
        }

    }
}


.msProfile{
    //共用
    padding: 50px;
    margin: auto;
    position: absolute;
     left: 250px;
    @include rwd(mobile){
        position: static;
    }
    @include rwd(medium){
        padding: 0;
    }
    h3{
        padding: 40px 0px 20px;
        @include f20b();
        @include rwd(medium){
            // text-align: center;

        }
    }
    //共用
    >.row{
        padding: 20px;
        @include mTop(20);
        background:rgba(226,242,250,.7);
        @include br4;
        box-shadow: $shadow;
        @include rwd(medium){
            padding: 20px;
        }
        @include rwd(mobile){
            flex-wrap: wrap;
            justify-content: center;
        }
        .msProfile__img{
            $size:140px;
            width: $size;
            height: $size;
            overflow: hidden;
            border-radius: 50%;
            border:2px solid $color-main-blue;
            flex-wrap: wrap;
        }
        .msProfile__btn{
            padding: 20px 0;
        }
        .msProfile__text{
            ul{
                li{
                    padding: 0 10px;
                    @include f20();
                    &:not(:first-child){
                        @include pTop(30);
                    }
                }
            }
        }
    }
    .msPoint{
        padding: 20px;
        @include mTop(50);
        background:rgba(226,242,250,.7);
        @include br4;
        box-shadow: $shadow;
        h4{
            @include pBottom(10);
            @include f20b();
        }
        .msPoint--use{
            @include pBottom(20);
            li{
                padding: 8px 0;
            }
        }
        .msPoint--get{
            @include pTop(0);
            
            .row{
                justify-content: space-between;
                .msPoint__item{
                    @include pTop(10);
                    $size:30%;
                    max-width: 100px;
                    height: $size;
                    width: $size;
                    overflow: hidden;
                    p{
                        text-align: center;
                    }
                }

            }
        }
    }
}
