@import "mixin/_mixin.scss";
@import "base/_var.scss";
*{
    outline: 1px solid blue;
}
html {
    font-size: 16px; 
    @media screen and (max-width: 767px) {
      html {
        font-size: 12px; 
        } 
    }
}
  body{
      background-color: $color-white;
  }
  body * {
    font-family: "微軟正黑體"; 
}
  
  * {
    font-family: "微軟正黑體"; }
    * h2 {
      line-height: 1.6;
      font-size: 2.2rem;
      font-weight: normal;
      color: $color-white;
    }

    * h3 {
      font-size: 2rem;
      font-weight: normal;
      line-height: 1.6;
    }

    * h4 {
      font-size: 1.8rem;
      line-height: 1.4;
      font-weight: normal;

     }
    * h5 {
      font-size: 1.6rem;
      line-height: 1.4;
      font-weight: normal;
      }
    * h6{
        color: $color-white;
        line-height: 1.6;
        font-size: 1.6rem;
        font-weight: normal;
    }
    * p {
      font-size: 1.4rem;
      line-height: 1.6;
     }
 
  .clearfix {
    clear: both; 
}
//banner/////////////////////////////////
.po-wrap{
    width:100%;
    max-width: 2500px;
    margin: auto;
    text-align: center;
    @media screen and (max-width:767px){
        @include pTop(60);
    }
    
}
.po-banner{
    z-index: 1;
}
#headerAll{
    max-width: 2500px;
}
.po-banner-pic{
    position: relative;
}
.po-banner-des{
    h2,h6{
        @media screen and (max-width:767px){
            line-height:1.3;
            color:$color-text; 
            text-align: left;
            font-size: 1.6rem;       
        }
    }
    h6{
        @media screen and (max-width:767px){
            text-align: left; 
            font-size: 1.4rem;
        }
    }


    text-align: left;
    position: absolute;
    z-index: 3;
    top:15%;
    left:10%; 
    @media screen and (max-width:767px){
    position: static;
    @include pLeft(15);
    @include pRight(15);
    }
}
.po-banner-pic img{
    width: 100%;
    height: 100%;
}
#mode{
    text-decoration:underline; 
    color: $color-white;
    @media screen and (max-width:767px){
        color:$color-text;
        text-decoration:none;
    }
}
/////////////////////////三種按鈕
.po-btn-sub-s--flex{
    display: none;
    @media screen and (max-width:767px){
    display:flex;
    @include pLeft(15);
    @include pRight(15);
    }
    .btn-sub-s{
        margin:5px;
    }
}
/////////////////////////////三張卡片///
//////////////////////////////下拉選單////
.po-wrap-filter{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    @include pTop(30);
  
}
.drop-flex{
    display: flex;
    justify-content: space-between;
}
#date .joForm__input{
    width:320px;
}
#budget .joForm__input{
    width:320px;
} 
#cont .joForm__input{
    width:250px;
}
#level .joForm__input{
    width:250px;
}

.joForm__input {
    position: relative;
    display: inline-block;
    width: 186px;
    text-indent: 10px;
    min-height: 42px;
    max-height: 42px;
    line-height: 42px;
    overflow: hidden;
    cursor: pointer;
    text-align: left;
    white-space: nowrap;
    color: #f27f22;
    outline: none;
    border-radius: 21px;
    background-color: #f4f4f4;
    border: 2px solid #f27f22;
    transition: 0.3s all ease-in-out; 
}

.joForm__input input {
    display: none; 
}


.joForm__input label {
    border-top: .06em solid #d9d9d9;
    display: block;
    font-style: 16px bold !important;
    padding-Left: 5px;
    font-size: 16px;
    font-weight: bold;
    font-family: Microsoft JhengHei;
    cursor: pointer;
    position: relative;
    transition: 0.3s color ease-in-out; 
}


.joForm__input label:nth-child(2) {
    margin-top: 42px; 
}


.joForm__input input:checked + label {
    display: block;
    border-top: none;
    position: absolute;
    top: 0; 
}
.joForm__input input:checked + label:nth-child(2) {
    margin-top: 0px;
    position: relative; 
}
.joForm__input::after {
    content: "";
    position: absolute;
    right: 10%;
    top: 1.2em;
    border: 0.4em solid #484848;
    border-color: #f27f22 transparent transparent transparent;
    transition: .4s all ease-in-out; 
}
.joForm__input.expanded {
    background-color: #f4f4f4;
    border: 2px solid #f27f22;
    border-radius: 21px;
    padding: 0;
    max-height: 100%; 
}
.joForm__input.expanded::after {
    transform: rotate(-180deg);
    top: 0.6em; 
}

///雲/////////
.cloud-wrap{
    width: 100%;
    max-width: 2500px;
    margin:auto;
    position: relative;
    top:-300px;
}
.cloud-wrap img{
    width:100%;
}