.po-wrap{
    width:100%;
    margin: auto;
}
.po-banner{
    width: 100%;
    height: 100vh;
    background-image: url(../img/banner_big.jpg);
    background-repeat:no-repeat; 
    background-size:100% ; 
}
.po-btn-sub-s--flex{
    display:flex;
}