@import "base/_var.scss";
@import "mixin/_mixin.scss";

*{
  margin: 0;
  padding: 0;
}

@mixin btn {
  // height: 42px;
  border-radius:60px;
  color:#fff;
  display:inline-block;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  line-height: 38px; 
  cursor: pointer;
  overflow: visible;
  -webkit-appearance: none;
  outline: none;
  box-shadow: $shadow;
  &:hover{
      filter: brightness(120%);
  }
}



/*---------------robot視窗控制---------------------------*/
.rbcircle {
display: flex;
justify-content: center;
background-color: #50E3C200;
cursor:pointer;
width: 60px;
height: 60px;
// border-radius: 50%;
border: none;
position: fixed;
bottom: 20px;
right: 20px;
/* transition: transform 200ms ease-in-out;*/
background-image:url(../img/comment-dots.png);
background-repeat: no-repeat;
outline: none;
z-index:1001;
}


.rbcircle:hover {
transform: translateY(-3px);

}

.rbclose:hover {
transform: translateY(-3px);
}

/*.icon-elements {
display: inline-flex;
background-color: white;
width: 30px;
height: 22px;
border-radius: 3px;
position: relative;
transition: transform 200ms ease-in-out, width 200ms ease-in-out;
}*/

/*.icon-elements img {
display: inline-flex;
background-color: white;
width: 30px;
height: 22px;
border-radius: 3px;
position: relative;
transition: transform 200ms ease-in-out, width 200ms ease-in-out;
}*/

/*.icon-elements:before {
content: "";
width: 20px;
height: 10px;
background: white;
position: absolute;
bottom: 0;
right: 0;
transform: skewY(49deg) rotate(-70deg);
}*/

/*.js-icon-active {
background-color: white;
width: 2px;
height: 30px;
transform: rotate(-45deg);
}
.js-icon-active:before {
background: white;
transform: skew(0deg) rotate(0deg);
height: 2px;
width: 30px;
top: 14px;
left: -14px;
}*/

.rbmodal-wrapper {
// box-shadow: 0 1px 2px #dddddd;
border-color:#dddddd;
border-style: solid;
border-width: 1px 1px 1px 1px;
width: 350px;
height: 400px;
position: absolute;
right: 20px;
display: flex;
flex-direction: column;
justify-content: flex-end;
visibility: hidden;
opacity: 0;
bottom: 80px;
transition: opacity 200ms ease-out, bottom 200ms ease-out;
// border-radius: 5px;
position: fixed;
z-index:1002;
}

.rbmodal-input {
display: flex;
flex-direction: column;
justify-content: flex-end;
padding: 15px;
border: none;
border-top: 1px solid #E6E7F0;
font-size: 14px;
font-weight: 300;
}

input::placeholder {
color: #CACEDB;
}

.js-modal-active {
visibility: visible;
opacity: 1;
bottom: 100px;
}

#rbout{
  cursor: pointer;
}

.rbreturn{
  display:none;
}


/*------------robot對話控制--------------------------------*/

.rbhead{
  background-color:#f4f4f4;
  max-width:350px;
  width: 100%;
  // width: 100%;
  height: 45px;
  
}


.rbhead__box{
  width: 350px;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color:#f4f4f4;
}

.rblogo__box{
  width: 340px;
  height: 82px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.rblogo__box .rblogo{
  padding-right: 90px;
}

.rblogo__box .rbarrow{
  display:none;
}

.rbhead__box img{
  width: 35px;
  height: 36px;
} 
.rbmtsss img{
  width: 105px;
  height: 35px;
}

h1{
  font-size:14px;
  font-family:Microsoft JhengHei;
  color: #484848;
  padding-right: 10px;
}

#rb__message{
  max-width:350px;
  width: 100%;
  height: 280px;
  background-image:url("../img/message-backimg-1.png");
  background-size: 100%;
  /*opacity:0.3;*/
  background-repeat: no-repeat;
  overflow:auto;
  font-family:Microsoft JhengHei;
  color: #484848; 
}

#rb__message img{
max-width:30px;
width: 90%;
height:10%;
padding:5px;
background-color: #ffffff;
border-radius: 50%;
border-style: solid;
border-width: 1px 1px 1px 1px;
border-color: #dddddd;
}

.rbkeyWord-btn{
  max-width:350px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 10px;
  background-color: #f4f4f4;
}

// #rb__message .rbimg_box{
// background-color: #ffffff;
// border-radius: 50%;
// }

.rbkeyWord-btn{
  display: flex;
}



.rbkeyWord-btn button{
  margin: 0;
  padding: 0;
  border: 1px;
  background-color:#F99D19;
  width: 86px;
  height: 42px;
  border-radius: 60px;
  outline: none;
  // background-size: 100%;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.16);
}

.rbkeyWord-btn p{
  color: #f4f4f4;
  font-family: Microsoft JhengHei;
  font-size: 14px;
  padding: 1px;
}


.rbtext__show{
display: flex;
flex-direction:row;
padding-top: 15px;
}
.rbtext__show img{
margin:5px;
}

.rbtext__show p{
max-width:270px;
/*width: 100%;*/
background-color: #ffffff;
border-radius: 1px solid #dddddd;
padding: 5px ;
line-height: 36px;
word-break: break-word;
margin:5px;
border-color: #dddddd;
border-style: solid;
border-width: 1px 1px 1px 1px;

}

.rbinput__text{
  display:inline-block;
  max-width:350px;
  width: 100%;
}

#say{
font-size:20px;
font-family:Microsoft JhengHei;
background-color: #f4f4f4;
}

.rbtext__input{
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  max-width:349px;
  width: 100%;
  height: 42px;
  background-color: #f4f4f4;
  border: 1px solid #dddddd;
}
.rbtext__input input{
  max-width:330px;
  width: 100%;
  border: none;
  /*font-size:30px;*/
  line-height: center;
}

.rbtext__input .rbbutn{
  max-width:24px;
  height: 24px;
  margin: auto;
  padding: 10px; 
  width: 100%;
}

.person_text{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
}

.rbmodal__wrapper__rwd{
display:none; 
}

/*@media screen and (min-width:768px) and (max-width: 1200px){
  
.modal__wrapper__rwd{
  display:inline; 
}

.circle{
display:none;
}

#modal{
  display:inline; 
}

.head{
  background-color:#32545c;
  max-width:1200px;
  width: 100%;
  height: 12vh;
}

.head__box{
    max-width:1200px;
    width: 100%;
    height: 12vh;
}

.head__box img{
  max-width:8vh;
  width: 100%;
  height:6vh;
} 

#out{
  padding-right: 20px;
}

.logo{
  flex-basis: 0;
  flex-grow: 1;
}

.head__box h1{
  font-size:4vh;
  font-family:Microsoft JhengHei;
  color: #ffffff;
  flex-grow: 1;
} 

.text__show p{
  font-size: 2vh;
  line-height: 6vh;
}


#message{
max-width:1200px;
width: 100%;
height:80vh;
background-repeat: no-repeat;
background-size:100%;
overflow:auto;
font-family:Microsoft JhengHei;
color: #484848; 
}

#message img{
max-width: 7vh;
width: 100%;
}

.input__text{
display:inline-block;
max-width:1200px;
width: 100%;
}

.text__input{
max-width: 74vh;
width: 100%;
height: 8vh;
}

.text__input textarea{
  max-width:66vh;
  width: 100%;
}

.text__input .butn{
  max-width: 8vh;
  background-color: #989898;
  width: 100%;
}

#say{
  font-size: 5vh;
}

}*/

@media screen and (min-width: 360px) and (max-width: 767px){

#model{
  // display:inline;
  width:100%;
  height:100%;
  position:inherit;
}

.rbclose{
  display:none;
}

.rbreturn{
  display:inline;
}

.rblogo__box .rblogo{
  display:none;
  // max-width: 6vh;
}

.rblogo{
  flex-basis:-1;
  flex-grow:0;
}

.rblogo__box .rbarrow{
  display:inline;
  max-width: 6vh;
  flex-basis:-1;
  flex-grow:0;
  padding-right: 70px;
}

.rbcircle{
display:none;
}

#modal{
  display:inline; 
}

.rbhead{
  background-color:#32545c;
  max-width:768px;
  width: 100%;
  height: 12vh;
}

.rbhead__box{
    max-width:1200px;
    width: 100%;
    height: 12vh;
    flex-direction: row-reverse;
}

.rbhead__box img{
  // max-width:8vh;
  // width: 100%;
  height:6vh;
} 

#rbout{
  padding-right:80px;
  // src: url(../img/baseline_keyboard_arrow_left_white_24dp.png);
}


.rbhead__box h1{
  font-size:4vh;
  font-family:Microsoft JhengHei;
  color: #484848;
  flex-grow: 1;
  padding-right: 30px;
} 

.rbtext__show p{
  font-size: 2vh;
  line-height: 6vh;
}


#rb__message{
max-width:1200px;
width: 100%;
height:80vh;
/*opacity:0.3;*/
background-repeat: no-repeat;
background-size: 153%;
overflow:auto;
font-family:Microsoft JhengHei;
color: #484848; 
}

#rb__message img{
max-width: 7vh;
width: 100%;
}

.rbinput__text{
display:inline-block;
max-width:1200px;
width: 100%;
}

.rbtext__input{
max-width: 74vh;
width: 100%;
height: 8vh;
}

.rbtext__input input{
  max-width: 48vh;
  width: 100%;
}

.rbtext__input .butn{
  max-width: 8vh;
  background-color: #989898;
  width: 100%;
}

#say{
  font-size: 5vh;
}

.rbkeyWord-btn{
  max-width:none;
  width: 100%;
}



}