@import "base/reset";
@import "base/var";
@import "mixin/mixin";
@import "header";

a{
    text-decoration: none;
}

.#{$btn-main-s}{
    background-color:$btnMainColor;
    @include btn();
    @include btn-s();
}
.#{$btn-main-l}{
    background-color:$btnMainColor;
    @include btn();
    @include btn-l();
}
// .#{$btn-sub-s}{
//     background-color:$btnsubColor;
//     @include btn();
//     @include btn-s();
// }
// .#{$btn-sub-l}{
//     background-color:$btnMainColor;
//     @include btn();
//     @include btn-l();
// }
//先想想不論哪個按鈕都會共有：radius 主次按鈕顏色一樣 顏色一樣 block置中 字體大小
//一樣的要用mixin?


.#{btnSub}{
    background-color:$color-btn-sub;
}

.shadow-text{
    text-shadow: $shadow;
} 


