@import "mixin/_mixin.scss";
@import "base/_var.scss";


body{
    background-color: $color-white;

}
// *{
//     outline: 1px solid red;
// }

#banner_front{
    position: absolute!important;
    top:0px;
    width: 100%;
}
.wrap-all{
    position: relative;
    top:70px;
    .bg{
        position: relative!important;
        z-index: -1;
    }
}
.banner_pic_b{
    overflow: hidden;
    img{
        width: 100%;
        transition: .8s;
        @media (max-width:768px) {
            transition: unset;
        }
    }
}
.banner_pic_f{
    img{
        width: 100%;
        transition: .8s;
        @media (max-width:768px){
            transition:unset;
        }
    }
}
.tech_banner_wrap{
    @media (max-width:992px){
     height: 40vh;   
    }
    position: relative;
}
.a-wrap{
    max-width: 1600px;
    margin: auto;
    position: relative;
    @media (max-width:768px){
       }
       @media(min-width:768px)and(max-width:992px){
        max-width: 1200px;
        // height: 80vh; 
    }
}
.a-c-wrap{
    @media (max-width:768px){

       }
       @media(min-width:768px)and(max-width:992px){

    }
}
.a-d-wrap{
    @media (max-width:768px){
        height: 110vh;   
       }
       @media(min-width:768px)and(max-width:992px){
        height: 100vh; 
    }
}
.cont{
    padding: 200px 10px;
    @media screen and (max-width:991px){
        width: 90vw;
        margin: auto;
        padding: 0 3vw 0 3vw;
    }
   
    @media screen and (min-width:992px){
        width: 38vw;
    }

    h2 {
		line-height: 1.6;
		font-size: 1.5rem;
		color:$color-main2;
        font-family: "微軟正黑體";

        }
	h3{
		line-height: 1.6;
		font-size:1.25rem;
		font-weight: normal;
		color: $color-btn-main;
   
		}
	p{
	 font-size:1rem;
	 line-height:1.6;
	 color: $color-text;
     font-family: "微軟正黑體";
        @media screen and (max-width:767px){
            font-size: 1rem;
        }
    }	 
  
}
#cont_a{
    @media screen and (min-width:992px){
        padding-top:300px;
    }
}

.pic-main{
    @media screen and (max-width:991px){
        width: 95vw;
    }
    @media screen and (min-width:992px){
        width: 52vw;
    }
    img{
        width: 100%;
    }
}
#footer{
    margin-top:100px; 
    @media screen and (max-width:767px){
        margin-top:90px; 
    }
}
@media (min-width:768px){
    #hd_tech::after{
        display: block;
        content: '';
        width: 64px;
        height: 2px;
        position: absolute;
        top: 72.5%;
        background: $color-text;
    }
    #hd_tech{
        font-weight: bold;
    }
    
    #pic_g,#pic_k{
        left: 50%;
    }
    #cont_a,#cont_c{
        padding-left:5%; 
    }
    #cont_b,#cont_d{
        padding-left:50%;
        @media(min-width: 768px)and(max-width:991px){
            padding-left:0;
        } 
    }
    // #pic_n,#pic_t{
    //     left:50%;
    // }
}
#pic_g,#pic_n,#pic_k,#pic_t{
    width:50%;
    @media(max-width:767px) {
        width: 100%;
    }
    @media(min-width:768px)and(max-width:991px){
        width: 100%;
    }
}
#pic_g,#pic_k,#pic_t{
    @media(max-width:767px) {
        width: 90%;
        position: relative;
        left:20px;
    } 
}


    




//桌機 only
// @media screen and (min-width:992px)

//iPad+桌機
// @media screen and (min-width:768px)

//iPad+手機橫+手機直
// @media screen and (max-width:991px)

//手機橫+手機直
// @media screen and (max-width:767px)

//手機直
// @media screen and (max-width:575px)

//iPad only
// @media screen and (min-width:768px) and (max-width:991px)