@import "mixin/_mixin.scss";
@import "base/_var.scss";

// @import "base/_footer";

*{
    // outline: red solid 1px;
}
body{
    background-color: $color-white;
    // height: 100vh;

}
#footer{
    position: relative;
}
#banner_front{
    position: absolute!important;
}
.wrap-all{
    width: 100vw;
    max-width: 2500px;
    position: relative;
    top:70px;
    img{
        position: static!important;
        @media (min-width:992px) {
            position: absolute!important;
        }
    }
    .bg{
        position: relative!important;
        width: 100vw;
        z-index: -1;
    }
}
.banner_pic_b{
    width:100vw;
    img{
        width: 100%;
        transition: .8s;
        left: 0;
    }
}
.banner_pic_f{
    width: 100vw;
    img{
        width: 100%;
        transition: .8s;
        position: absolute;
        top:0;
        left: 0;
        @media (max-width:768px){
            transition: 0;
        }
    }
}
.tech_banner_wrap{
    width: 100vw;
    height: 110vh;
    @media (max-width:992px){
     height: 40vh;   
    }
    max-width: 2500px;
    position: relative;
    div{
        position: absolute;
    }
    div{
        position: static!important;
        @media (min-width:992px) {
            position: absolute!important;
        }

    }
}
.a-wrap{
    @media (max-width:768px){
        height: 100vh;   
       }
       @media(min-width:768px)and(max-width:992px){
        height: 80vh; 
    }
}
.a-c-wrap{
    @media (max-width:768px){
        height: 100vh;   
       }
       @media(min-width:768px)and(max-width:992px){
        height: 90vh; 
    }
}
.a-d-wrap{
    @media (max-width:768px){
        height: 110vh;   
       }
       @media(min-width:768px)and(max-width:992px){
        height: 100vh; 
    }
}
.cont{

    @media screen and (max-width:991px){
        width: 95vw;
        padding: 0 2.5vw 0 2.5vw;
    }
   
    @media screen and (min-width:992px){
        width: 40vw;
    }

    h2 {
		line-height: 1.6;
		font-size: 1.5rem;
		color:$color-main2;
        font-family: "微軟正黑體";
        @media screen and (max-width:767px){
        font-size: 1.8rem;
        } 
        }
	h3{
		line-height: 1.6;
		font-size:1.25rem;
		font-weight: normal;
		color: $color-btn-main;
        font-family: "微軟正黑體";
        @media screen and (max-width:767px){
            font-size: 1.2rem;
            }
		}
	p{
	 font-size:1rem;
	 line-height:1.6;
	 color: $color-text;
     font-family: "微軟正黑體";
     @media screen and (max-width:767px){
        font-size: 1rem;
        }
    }	 
  
}
#cont_a{
    // padding-top:17vh; 
    @media screen and (min-width:992px){
        // padding-top: 30vh;
    }
}

.pic-main{
    @media screen and (max-width:991px){
        width: 95vw;
    }
    @media screen and (min-width:992px){
        width: 55vw;
    }
    img{
        width: 100%;
    }
}
// .wrap-cloud{
//     position: absolute;
//     z-index: -3;
//     #c_1{
//         top:500px;
//     }
//     #c_2{
//         top:800px;
//     }
//     #c_3{
//         top:1500px;
//     }
//     #c_4{
//         top:2000px;
//     }
//     @media screen and (max-width:992px){
//     display:none; 
//     }
// }



//桌機 only
// @media screen and (min-width:992px)

//iPad+桌機
// @media screen and (min-width:768px)

//iPad+手機橫+手機直
// @media screen and (max-width:991px)

//手機橫+手機直
// @media screen and (max-width:767px)

//手機直
// @media screen and (max-width:575px)

//iPad only
// @media screen and (min-width:768px) and (max-width:991px)