<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Outlander - customized</title>
    <link rel="stylesheet" href="css/customized.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/vue.js"></script>
    <script src="js/enquire.min.js"></script>
    <script src="js/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div id="header">
        <nav id="header-all">
            <div id="header-left">
                <div id="logo">
                    <a href="index.html">
                        <img src="img/logo.png" alt="logo">
                    </a>
                </div>
                <div id="search">
                    <input type="text" placeholder="搜索世界">
                    <i class="material-icons">search</i>
                </div>
            </div>
            <div id="burger">
                <div id="burger-all" v-on:click="bur">
                    <span id="burger-1"></span>
                    <span id="burger-2"></span>
                    <span id="burger-3"></span>
                </div>
            </div>
            <ul id="burger-text">
                <span id="burgerText-X" v-on:click="out"></span>
                <li><a href="#">登山行程</a></li>
                <li><a href="#">客製行程</a></li>
                <li><a href="#">登山日誌</a></li>
                <li><a href="#">登山技巧</a></li>
                <li v-if="web<768">機器人</li>
                <li v-if="web>768"><a href="#"><i class="material-icons">person</i></a></li>
                <li v-if="web<768" id="member">會員專區
                    <ul id="member-child">
                        <li><a class="member-a" href="#">個人中心</a></li>
                        <li><a class="member-a" href="#">訂單</a></li>
                        <li><a class="member-a" href="#">登山日誌</a></li>
                        <li><a class="member-a" href="#">行前裝備</a></li>
                    </ul>
                </li>
            </ul>
            <div class="filter">
                <div id="filterList">
                    <ul id="filterListLi">
                        <li class="list" id="asia-list">亞洲</li>
                        <li class="list">歐洲</li>
                        <li class="list">非洲</li>
                        <li class="list">北美洲</li>
                        <li class="list">南美洲</li>
                        <li class="list">大洋洲</li>
                    </ul>
                    <div id="filterListImg">
                        <div id="asia-img" class="in">
                            <div class="filterListImg-img">
                                <img src="img/玉山/1.jpg">
                                <h3>玉山</h3>
                            </div>
                            <div class="filterListImg-img">
                                <img src="img/聖母峰/1.jpg">
                                <h3>聖母峰</h3>
                            </div>
                            <div class="filterListImg-img">
                                <img src="img/富士山/1.jpg">
                                <h3>富士山</h3>
                            </div>
                        </div>
                        <div id="europe" class="in">
                            <div class="filterListImg-img">
                                <img src="img/少女峰/1.jpg">
                                <h3>少女峰</h3>
                            </div>
                            <div class="filterListImg-img">
                                <img src="img/少女峰/2.jpg">
                                <h3>少女峰</h3>
                            </div>
                        </div>
                        <div id="africa" class="in">
                            <div class="filterListImg-img">
                                <img src="img/吉利馬札羅/1.jpg">
                                <h3>吉利馬札羅</h3>
                            </div>
                            <div class="filterListImg-img">
                                <img src="img/吉利馬札羅/2.jpg">
                                <h3>吉利馬札羅</h3>
                            </div>
                            <div class="filterListImg-img">
                                <img src="img/馬丘比丘/1.jpg">
                                <h3>馬丘比丘</h3>
                            </div>
                        </div>
                        <div id="na" class="in">
                            <div class="filterListImg-img">
                                <img src="img/聖克魯斯/1.JPG">
                                <h3>聖克魯斯</h3>
                            </div>
                            <div class="filterListImg-img">
                                <img src="img/優勝美地/1.jpg">
                                <h3>優勝美地</h3>
                            </div>
                        </div>
                        <div id="sa" class="in">
                            <div class="filterListImg-img">
                                <img src="img/百內國家公園/1.jpg">
                                <h3>百內國家公園</h3>
                            </div>
                            <div class="filterListImg-img">
                                <img src="img/百內國家公園/2.jpg">
                                <h3>百內國家公園</h3>
                            </div>
                        </div>
                        <div id="oceania" class="in">
                            <div class="filterListImg-img">
                                <img src="img/阿斯帕林/1.JPG">
                                <h3>阿斯帕林山</h3>
                            </div>
                            <div class="filterListImg-img">
                                <img src="img/阿斯帕林/2.jpg">
                                <h3>阿斯帕林山</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>



    <div class="cu_bg">
        <h2>安排專屬於你的登山景點</h2>
    </div> <!-- cu_bg 結束-->
        <div class="cuProcess">
            <div class="cuProcess__first">
                <div class="cuProcess__circle cuProcess__circle--done">1</div>
                <p>選擇行程</p>
            </div>
            <div class="cuProcess__line"></div>
            <div class="cuProcess__second">
                <div class="cuProcess__circle" id="cuProcessFill">2</div>
                <p>選擇日期及嚮導</p>
            </div>
        </div>

        <!-- 風景詳細介紹，避免1200阻礙所以放在這 -->
        <div class="cuCustom__detailBg">
            <div id="cuCustom__detail">
                <img src="img/cu__sceneryItem3.jpg" alt="安娜普納基地">
                <div class="cuCustom__detail--content">
                    <h4>安娜普那基地</h4>
                    <i class="material-icons">restaurant</i>
                    <i class="fas fa-campground"></i>
                    <p id="cuCustom__price">價格：2,000 NTW</p>
                    <p><span class="cuStyle__fwb">景點介紹：</span>尼泊爾著名健行步道之一。安娜普娜(Annapurna)基地營高4,130M。有魚尾峰千變萬化的景觀及山上村落悠閒的田園生活、驢隊漫步其間叮叮噹噹聲不絕於耳，無怪乎全世界喜愛高山健行的登山客把這路線當作必行之地。</p>
                    <input type="submit" id="btn_cuAddOne" class="cuBtn" value="加入景點">
                </div>
            </div>
        </div>

        <div class="cuMask">
            <section id="cu__step1">
                <!-- 選擇器__洲別及山岳 -->
                <div class="cuCustom">
                    <div class="cuCustom__crtlRWD">
                        
                        <form class="">
                            <span class="joForm__input">
                                <input type="radio" name="mountType" value="choose" checked="checked" id="mount-choose">
                                <label for="mount-choose">請選擇地點</label>
                
                                <input type="radio" name="mountType" value="Fuji" id="mount-fuji">
                                <label for="mount-fuji">亞洲</label>
                
                                <input type="radio" name="mountType" value="Himalayas" id="mount-himalayas">
                                <label for="mount-himalayas">歐洲</label>
                
                                <input type="radio" name="mountType" value="Paine" id="mount-paine">
                                <label for="mount-paine">非洲</label>
                
                                <input type="radio" name="mountType" value="Jade" id="mount-jade">
                                <label for="mount-jade">北美洲</label>
                
                                <input type="radio" name="mountType" value="Alps" id="mount-alps">
                                <label for="mount-alps">南美洲</label>
                
                                <input type="radio" name="mountType" value="MachuPicchu" id="mount-machu">
                                <label for="mount-machu">大洋洲</label>
                
                                <input type="radio" name="mountType" value="SantaCruz" id="mount-cruz">
                                <label for="mount-cruz">聖克魯斯</label>
                
                                <input type="radio" name="mountType" value="Kilimanjaro" id="mount-kilimanjaro">
                                <label for="mount-kilimanjaro">吉力馬札羅山</label>
                
                                <input type="radio" name="mountType" value="Yosemite" id="mount-yosemite">
                                <label for="mount-yosemite">優勝美地國家公園</label>
                
                                <input type="radio" name="mountType" value="Aspalin" id="mount-aspalin">
                                <label for="mount-aspalin">阿斯帕林國家公園</label>
                
                                <input type="radio" name="mountType" value="Others" id="mount-others">
                                <label for="mount-others">其他</label>
                            </span>
                        </form>
                        <form class="">
                                <span class="joForm__input">
                                    <input type="radio" name="mountType" value="choose" checked="checked" id="mount-choose">
                                    <label for="mount-choose">請選擇地點</label>
                    
                                    <input type="radio" name="mountType" value="Fuji" id="mount-fuji">
                                    <label for="mount-fuji">富士山</label>
                    
                                    <input type="radio" name="mountType" value="Himalayas" id="mount-himalayas">
                                    <label for="mount-himalayas">珠穆朗瑪峰</label>
                    
                                    <input type="radio" name="mountType" value="Paine" id="mount-paine">
                                    <label for="mount-paine">百內國家公園</label>
                    
                                    <input type="radio" name="mountType" value="Jade" id="mount-jade">
                                    <label for="mount-jade">玉山</label>
                    
                                    <input type="radio" name="mountType" value="Alps" id="mount-alps">
                                    <label for="mount-alps">阿爾卑斯山-少女峰</label>
                    
                                    <input type="radio" name="mountType" value="MachuPicchu" id="mount-machu">
                                    <label for="mount-machu">馬丘比丘</label>
                    
                                    <input type="radio" name="mountType" value="SantaCruz" id="mount-cruz">
                                    <label for="mount-cruz">聖克魯斯</label>
                    
                                    <input type="radio" name="mountType" value="Kilimanjaro" id="mount-kilimanjaro">
                                    <label for="mount-kilimanjaro">吉力馬札羅山</label>
                    
                                    <input type="radio" name="mountType" value="Yosemite" id="mount-yosemite">
                                    <label for="mount-yosemite">優勝美地國家公園</label>
                    
                                    <input type="radio" name="mountType" value="Aspalin" id="mount-aspalin">
                                    <label for="mount-aspalin">阿斯帕林國家公園</label>
                    
                                    <input type="radio" name="mountType" value="Others" id="mount-others">
                                    <label for="mount-others">其他</label>
                                </span>
                            </form>
                                   
                        <div id="cuCustom__zone">
                            <!-- 風景列表 -->
                            <h3 id="cuCustom__sceneryTitle">山岳風景列表</h3>
                            <div id="cuCustom__sceneryZone--bg">
                                <div class="cuCustom__sceneryZone">
                                    <div id="cuCustom__sceneryZone--OF" id="scroll">
                                        <div class="cuCustom__sceneryItem cuScenery__Item1">
                                            <div class="cuCustom__sceneryContent">
                                                <p>安娜普那基地</p>
                                                <i class="material-icons">restaurant</i>
                                                <i class="fas fa-campground"></i>
                                            </div>
                                            <button class="btn_cuAddScenery--767 cuBtn__styleClear">
                                                <i class="material-icons">check_box</i>
                                            </button>
                                            <span class="cuCustom__price1">$2,000</span>
                                            <div class="cuCustom__showOption">
                                                <button class="btn_cuAddScenery">
                                                        <i class="material-icons">add</i>
                                                </button>
                                                <button class="btn_cuWatchScenery">
                                                    <i class="material-icons" >search</i>
                                                </button>
                                            </div>
                                        </div>
                                       
                                        <div class="cuCustom__sceneryItem cuScenery__Item2">
                                            <div class="cuCustom__sceneryContent">
                                                <p>安娜普那基地</p>
                                                <i class="material-icons">restaurant</i>
                                                <i class="fas fa-campground"></i>
                                            </div>
                                            <button class="btn_cuAddScenery--767 cuBtn__styleClear">
                                                <i class="material-icons">check_box_outline_blank</i>
                                            </button>
                                            <span class="cuCustom__price1">$2,000</span>
                                            <div class="cuCustom__showOption">
                                                <button class="btn_cuAddScenery">
                                                        <i class="material-icons">add</i>
                                                </button>
                                                <button class="btn_cuWatchScenery">
                                                    <i class="material-icons" >search</i>
                                                </button>
                                            </div>
                                        </div>
                                       
                                        <div class="cuCustom__sceneryItem cuScenery__Item3">
                                            <div class="cuCustom__sceneryContent">
                                                <p>安娜普那基地</p>
                                                <i class="material-icons">restaurant</i>
                                                <i class="fas fa-campground"></i>
                                            </div>
                                            <button class="btn_cuAddScenery--767 cuBtn__styleClear">
                                                <i class="material-icons">check_box_outline_blank</i>
                                            </button>
                                            <span class="cuCustom__price1">$2,000</span>
                                            <div class="cuCustom__showOption">
                                                <button class="btn_cuAddScenery">
                                                        <i class="material-icons">add</i>
                                                </button>
                                                <button class="btn_cuWatchScenery">
                                                    <i class="material-icons" >search</i>
                                                </button>
                                            </div>
                                        </div>
                                       
                                        <div class="cuCustom__sceneryItem cuScenery__Item4">
                                            <div class="cuCustom__sceneryContent">
                                                <p>安娜普那基地</p>
                                                <i class="material-icons">restaurant</i>
                                                <i class="fas fa-campground"></i>
                                            </div>
                                            <button class="btn_cuAddScenery--767 cuBtn__styleClear">
                                                <i class="material-icons">check_box_outline_blank</i>
                                            </button>
                                            <span class="cuCustom__price1">$2,000</span>
                                            <div class="cuCustom__showOption">
                                                <button class="btn_cuAddScenery">
                                                        <i class="material-icons">add</i>
                                                </button>
                                                <button class="btn_cuWatchScenery">
                                                    <i class="material-icons" >search</i>
                                                </button>
                                            </div>
                                        </div>
                                       
                                        <div class="cuCustom__sceneryItem cuScenery__Item5">
                                            <div class="cuCustom__sceneryContent">
                                                <p>安娜普那基地</p>
                                                <i class="material-icons">restaurant</i>
                                                <i class="fas fa-campground"></i>
                                            </div>
                                            <button class="btn_cuAddScenery--767 cuBtn__styleClear">
                                                <i class="material-icons">check_box_outline_blank</i>
                                            </button>
                                            <span class="cuCustom__price1">$2,000</span>
                                            <div class="cuCustom__showOption">
                                                <button class="btn_cuAddScenery">
                                                        <i class="material-icons">add</i>
                                                </button>
                                                <button class="btn_cuWatchScenery">
                                                    <i class="material-icons" >search</i>
                                                </button>
                                            </div>
                                        </div>
                                       
                                        <div class="cuCustom__sceneryItem cuScenery__Item6">
                                            <div class="cuCustom__sceneryContent">
                                                <p>安娜普那基地</p>
                                                <i class="material-icons">restaurant</i>
                                                <i class="fas fa-campground"></i>
                                            </div>
                                            <button class="btn_cuAddScenery--767 cuBtn__styleClear">
                                                <i class="material-icons">check_box_outline_blank</i>
                                            </button>
                                            <span class="cuCustom__price1">$2,000</span>
                                            <div class="cuCustom__showOption">
                                                <button class="btn_cuAddScenery">
                                                        <i class="material-icons">add</i>
                                                </button>
                                                <button class="btn_cuWatchScenery">
                                                    <i class="material-icons" >search</i>
                                                </button>
                                            </div>
                                        </div>

                                       
                                    </div>
                                    <div id="btn_cuAddScenery--confirm">確認加入</div>
                                </div>
                            </div>      
                        </div>
                    </div>
                    <!-- 調整風景順序 -->
                    <div class="cuCustom__dropZone">
                        <span class="cuCustom__dropTell" >拖曳可以更改風景順序</span>
                        <div class="cuCustom__dropMask">
                            <div class="cuCustom__dropScenery cuDropScenery__item1">
                                <div class="cuCustom__sceneryContent">
                                    <p>安娜普那基地</p>
                                    <i class="material-icons">restaurant</i>
                                    <i class="fas fa-campground"></i>
                                </div>
                                <span class="cuCustom__price">$2,000</span>
                                <button class="btn_cuIcon--clear cuBtn__styleClear">
                                    <i class="material-icons">clear</i>
                                </button>
                            </div>
                            <div class="cuCustom__dropScenery cuDropScenery__item2">
                                <div class="cuCustom__sceneryContent">
                                    <p>安娜普那基地</p>
                                    <i class="material-icons">restaurant</i>
                                    <i class="fas fa-campground"></i>
                                </div>
                                <span class="cuCustom__price">$2,000</span>
                                <button class="btn_cuIcon--clear cuBtn__styleClear">
                                    <i class="material-icons">clear</i>
                                </button>
                            </div>
                            <div class="cuCustom__dropScenery cuDropScenery__item3">
                                <div class="cuCustom__sceneryContent">
                                    <p>安娜普那基地</p>
                                    <i class="material-icons">restaurant</i>
                                    <i class="fas fa-campground"></i>
                                </div>
                                <span class="cuCustom__price">$2,000</span>
                                <button class="btn_cuIcon--clear cuBtn__styleClear">
                                    <i class="material-icons">clear</i>
                                </button>
                            </div>
                            
                        </div>
                        <div class="cuCustom__count">
                            <span class="cuCustom__line"></span>
                            <span class="cuCustom__count1">景點個數：<span id="cuQuan">0</span></span>
                            <span class="cuCustom__count2">總金額：<span id="cuAmount">0</span>元</span>

                        </div>
                        <!-- btn_查看風景列表 -->
                        <div id="btn_cuCheckScenery">
                            <i class="material-icons">add</i>
                        </div>
                    </div>
        
                </div>
                <div class="cuCtrlBtn">
                    <!-- btn選擇日期及嚮導 -->
                    <input type="submit" id="btn_cuPickTG" class="cuBtn" value="選擇日期及嚮導">
                </div>
            </section>

        
            <!-- 客製化第二步驟（選時間、嚮導） -->
            <section id="cu__step2">
                <div id="cuCustom2">
                    <div>
                        <label for="" class="cuStyle__pick">選擇出發日期</label>
                        <input type="date" id="cuTime__start">
                    </div>
                    <div class="cuStyle__ptb10">
                        <label for="" class="cuStyle__pick">選擇結束日期</label>
                        <input type="date" id="cuTime__end">
                    </div>
                    <!-- <div class="custom-select cu_selectNum1" >
                        <select>
                            <option value="0">請選擇出發日期</option>
                        </select>
                    </div>
                    <div class="custom-select" >
                        <select>
                            <option value="0">請選擇結束日期</option>
                        </select>
                    </div> -->
        
                    <h3>選擇嚮導</h3>
                    <div class="cu__pickGuide">
                        <button id="btn_cuLeft">
                            <i class="material-icons">keyboard_arrow_left</i>
                        </button>
                        <div class="cu__guideList">
                            <div class="cu__guideList--mask">
                                <div class="cu__guideItem cu__guideItem1">
                                    <img src="img/cu_guideItem1.png" alt="">
                                    <h4>Vivian</h4>
                                    <p>擅長高山百岳健行、中級山探勘、高海拔遠征、攀岩極冰攀略有涉獵。</p>
                                </div>
                                <div class="cu__guideItem cu__guideItem2">
                                    <img src="img/cu_guideItem1.png" alt="">
                                    <h4>Vivian</h4>
                                    <p>擅長高山百岳健行、中級山探勘、高海拔遠征、攀岩極冰攀略有涉獵。</p>
                                </div>
                                <div class="cu__guideItem cu__guideItem3">
                                    <img src="img/cu_guideItem1.png" alt="">
                                    <h4>Vivian</h4>
                                    <p>擅長高山百岳健行、中級山探勘、高海拔遠征、攀岩極冰攀略有涉獵。</p>
                                </div>
                            </div>
                        </div>
                        <button  id="btn_cuRight">
                            <i class="material-icons">keyboard_arrow_right</i>
                        </button>
        
                    </div>
                </div>
                <div class="cuCtrlBtn">
                    <!-- btn選擇日期及嚮導 -->
                    <input type="button" id="btn_cuBack" class="cuBtn" value="上一頁">
                    <!-- btn選擇日期及嚮導 -->
                    <input type="submit" id="btn_cuBooking" class="cuBtn" value="訂購行程">
                </div>
            </section>
        </div> 
        <footer id="footer">
                <img id="footer-img" src="img/foo1.png" alt="footer">
                <div id="footer-all">
                    <ul>
                        <li>關於我們</li>
                        <li>聯繫我們</li>
                        <li>使用條款</li>
                        <li>尋找分店</li>
                    </ul>
                    <div id="footer-icon">
                        <span><i class="fab fa-facebook-f"></i>Facebook</span>
                        <span><i class="fab fa-instagram"></i>Instagram</span>
                        <span><i class="fab fa-twitter"></i>Twitter</span>
                    </div>
                    <div id="footer-input">
                        <div>
                            <input type="text">
                            <button>訂閱</button>
                        </div>
                        <span>COPYRIGHT © 2018 Outlander All rights reserved.</span>
                    </div>
                </div>
            </footer>
   
    
    <script src="js/customized.js"></script>
    <script>

			$('.joForm__input').click(function (e) {
				e.preventDefault();
				e.stopPropagation();
				$(this).toggleClass('expanded');
				$('#' + $(e.target).attr('for')).prop('checked', true);
				});
				$(document).click(function () {
					$('.joForm__input').removeClass('expanded');
				});

		</script>
</body>
</html>

<script src="js/header.js"></script>