<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Outlander - customized</title>
    <link rel="stylesheet" href="css/customized.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="css/day.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/vue.js"></script>
    <script src="js/enquire.min.js"></script>
    <script src="js/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div id="header-nav">
        <div id="header">
            <nav id="header-all">
                <div id="header-left">
                    <div id="logo">
                        <a href="index.html">
                            <img src="img/logo.png" alt="logo">
                        </a>
                    </div>
                    <div id="search">
                        <input type="text" placeholder="搜索世界">
                        <i class="material-icons">search</i>
                    </div>
                </div>
                <div id="burger">
                    <div id="burger-all" v-on:click="bur">
                        <span id="burger-1"></span>
                        <span id="burger-2"></span>
                        <span id="burger-3"></span>
                    </div>
                </div>
                <ul id="burger-text">
                    <li><a href="#">登山行程</a></li>
                    <li><a href="#">客製行程</a></li>
                    <li><a href="#">登山日誌</a></li>
                    <li><a href="#">登山技巧</a></li>
                    <li v-if="web<768">機器人</li>
                    <li v-if="web>768"><a href="#"><i class="material-icons">person</i></a></li>
                    <li v-if="web<768" id="member">會員專區
                        <ul id="member-child">
                            <li><a class="member-a" href="#">個人中心</a></li>
                            <li><a class="member-a" href="#">訂單</a></li>
                            <li><a class="member-a" href="#">登山日誌</a></li>
                            <li><a class="member-a" href="#">行前裝備</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="filter">
                    <div id="filterList">
                        <ul id="filterListLi">
                            <li class="list" id="asia-list">亞洲</li>
                            <li class="list">歐洲</li>
                            <li class="list">非洲</li>
                            <li class="list">北美洲</li>
                            <li class="list">南美洲</li>
                            <li class="list">大洋洲</li>
                        </ul>
                        <div id="filterListImg">
                            <div id="asia-img" class="in">
                                <div class="filterListImg-img">
                                    <img src="img/玉山/1.jpg">
                                    <h3>玉山</h3>
                                </div>
                                <div class="filterListImg-img">
                                    <img src="img/聖母峰/1.jpg">
                                    <h3>聖母峰</h3>
                                </div>
                                <div class="filterListImg-img">
                                    <img src="img/富士山/1.jpg">
                                    <h3>富士山</h3>
                                </div>
                            </div>
                            <div id="europe" class="in">
                                <div class="filterListImg-img">
                                    <img src="img/少女峰/1.jpg">
                                    <h3>少女峰</h3>
                                </div>
                                <div class="filterListImg-img">
                                    <img src="img/少女峰/2.jpg">
                                    <h3>少女峰</h3>
                                </div>
                            </div>
                            <div id="africa" class="in">
                                <div class="filterListImg-img">
                                    <img src="img/吉利馬札羅/1.jpg">
                                    <h3>吉利馬札羅</h3>
                                </div>
                                <div class="filterListImg-img">
                                    <img src="img/吉利馬札羅/2.jpg">
                                    <h3>吉利馬札羅</h3>
                                </div>
                                <div class="filterListImg-img">
                                    <img src="img/馬丘比丘/1.jpg">
                                    <h3>馬丘比丘</h3>
                                </div>
                            </div>
                            <div id="na" class="in">
                                <div class="filterListImg-img">
                                    <img src="img/聖克魯斯/1.JPG">
                                    <h3>聖克魯斯</h3>
                                </div>
                                <div class="filterListImg-img">
                                    <img src="img/優勝美地/1.jpg">
                                    <h3>優勝美地</h3>
                                </div>
                            </div>
                            <div id="sa" class="in">
                                <div class="filterListImg-img">
                                    <img src="img/百內國家公園/1.jpg">
                                    <h3>百內國家公園</h3>
                                </div>
                                <div class="filterListImg-img">
                                    <img src="img/百內國家公園/2.jpg">
                                    <h3>百內國家公園</h3>
                                </div>
                            </div>
                            <div id="oceania" class="in">
                                <div class="filterListImg-img">
                                    <img src="img/阿斯帕林/1.JPG">
                                    <h3>阿斯帕林山</h3>
                                </div>
                                <div class="filterListImg-img">
                                    <img src="img/阿斯帕林/2.jpg">
                                    <h3>阿斯帕林山</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>



    <div class="cu_bg">
        <h2>安排專屬於你的登山景點</h2>
    </div> <!-- cu_bg 結束-->
        <div class="cuProcess">
            <div class="cuProcess__first">
                <div class="cuProcess__circle cuProcess__circle--done" id="cuProcess1">1</div>
                <p>選擇行程</p>
            </div>
            <div class="cuProcess__line"></div>
            <div class="cuProcess__second">
                <div class="cuProcess__circle" id="cuProcess2">2</div>
                <p id="cuProcessFill__title2">選擇日期及嚮導</p>
            </div>
        </div>

        <!-- 風景詳細介紹，避免1200阻礙所以放在這 -->
        <div class="cuCustom__detailBg">
            <div id="cuCustom__detail">
                <img src="img/cu__sceneryItem3.jpg" alt="安娜普納基地">
                <div class="cuCustom__detail--content">
                    <h4>安娜普那基地</h4>
                    <i class="material-icons">restaurant</i>
                    <i class="fas fa-campground"></i>
                    <p id="cuCustom__price">價格：2,000 NTW</p>
                    <p><span class="cuStyle__fwb">景點介紹：</span>尼泊爾著名健行步道之一。安娜普娜(Annapurna)基地營高4,130M。有魚尾峰千變萬化的景觀及山上村落悠閒的田園生活、驢隊漫步其間叮叮噹噹聲不絕於耳，無怪乎全世界喜愛高山健行的登山客把這路線當作必行之地。</p>
                    <input type="submit" id="btn_cuAddOne" class="cuBtn" value="加入景點">
                </div>
            </div>
        </div>

        <div class="cuMask">
            <section id="cu__step1">
                <!-- 選擇器__洲別及山岳 -->
                <div id="cuCustom">
                    <div class="cuCustom__crtlRWD">
                        
                        <form class="cuSelect">
                            <span class="cuForm__input" id="cuForm__input--C">
                                <input type="radio" name="AreaType" value="choose" checked="checked" id="contient-choose">
                                <label for="contient-choose">請選擇洲別</label>
                
                                <input type="radio" name="AreaType" value="Asia" id="contient-Asia">
                                <label for="contient-Asia">亞洲</label>
                
                                <input type="radio" name="AreaType" value="Europe" id="contient-Europe">
                                <label for="contient-Europe">歐洲</label>
                
                                <input type="radio" name="AreaType" value="Africa" id="contient-Africa">
                                <label for="contient-Africa">非洲</label>
                
                                <input type="radio" name="AreaType" value="NorthA" id="contient-NorthA">
                                <label for="contient-NorthA">北美洲</label>
                
                                <input type="radio" name="AreaType" value="SouthA" id="contient-SouthA">
                                <label for="contient-SouthA">南美洲</label>
                
                                <input type="radio" name="AreaType" value="Oceania" id="contient-Oceania">
                                <label for="contient-Oceania">大洋洲</label>
                            </span>
                        </form>
                        <form class="cuSelect">
                            <span class="cuForm__input" id="cuForm__input--M">
                                <input type="radio" name="mountType" value="choose" checked="checked" id="mount-choose">
                                <label for="mount-choose">請選擇山岳</label>
                
                                <!-- <input type="radio" name="mountType" value="Fuji" id="mount-fuji">
                                <label for="mount-fuji">富士山</label>
                
                                <input type="radio" name="mountType" value="Himalayas" id="mount-himalayas">
                                <label for="mount-himalayas">珠穆朗瑪峰</label> -->
                
                                <input type="radio" name="mountType" value="Paine" id="mount-paine">
                                <label for="mount-paine">百內國家公園</label>
                
                                <!-- <input type="radio" name="mountType" value="Jade" id="mount-jade">
                                <label for="mount-jade">玉山</label> -->
                
                                <input type="radio" name="mountType" value="Alps" id="mount-alps">
                                <label for="mount-alps">阿爾卑斯山-少女峰</label>
                
                                <input type="radio" name="mountType" value="MachuPicchu" id="mount-machu">
                                <label for="mount-machu">馬丘比丘</label>
                
                                <input type="radio" name="mountType" value="SantaCruz" id="mount-cruz">
                                <label for="mount-cruz">聖克魯斯</label>
                
                                <input type="radio" name="mountType" value="Kilimanjaro" id="mount-kilimanjaro">
                                <label for="mount-kilimanjaro">吉力馬札羅山</label>
                
                                <input type="radio" name="mountType" value="Yosemite" id="mount-yosemite">
                                <label for="mount-yosemite">優勝美地國家公園</label>
                
                                <input type="radio" name="mountType" value="Aspalin" id="mount-aspalin">
                                <label for="mount-aspalin">阿斯帕林國家公園</label>
                
                                <input type="radio" name="mountType" value="Others" id="mount-others">
                                <label for="mount-others">其他</label>
                            </span>
                        </form>
                                   
                        <div id="cuCustom__zone">
                            <!-- 風景列表 -->
                            <h3 id="cuCustom__sceneryTitle">山岳風景列表</h3>
                            <div id="cuCustom__sceneryZone--bg">
                                <div class="cuCustom__sceneryZone">
                                    <div id="cuCustom__sceneryZone--OF" id="scroll">
                                        <div class="cuCustom__sceneryItem cuScenery__Item1" id="cu_A1001">
                                            <div class="cuCustom__sceneryContent">
                                                <p>安娜普那基地</p>
                                                <i class="material-icons">restaurant</i>
                                                <i class="fas fa-campground"></i>
                                            </div>
                                            <button class="btn_cuAddScenery--767 cuBtn__styleClear">
                                                <i class="material-icons">check_box</i>
                                            </button>
                                            <span class="cuCustom__price1">$2,000</span>
                                            <div class="cuCustom__showOption">
                                                <button id="cu_A2001" class="btn_cuAddScenery">
                                                    <input type="hidden" value="安娜普那基地|cu__sceneryItem1.jpg|2000|cu_A1001">
                                                        <i class="material-icons">add</i>

                                                </button>
                                                <button class="btn_cuWatchScenery">
                                                    <i class="material-icons" >search</i>
                                                </button>
                                            </div>
                                        </div>
                                                  
                                        <div class="cuCustom__sceneryItem cuScenery__Item2" id="cu_A1002">
                                            <div class="cuCustom__sceneryContent">
                                                <p>安娜普那基地</p>
                                                <i class="material-icons">restaurant</i>
                                                <i class="fas fa-campground"></i>
                                            </div>
                                            <button class="btn_cuAddScenery--767 cuBtn__styleClear">
                                                <i class="material-icons">check_box_outline_blank</i>
                                            </button>
                                            <span class="cuCustom__price1">$2,000</span>
                                            <div class="cuCustom__showOption">
                                                <button id="cu_A2002" class="btn_cuAddScenery">
                                                        <i class="material-icons">add</i>
                                                        <input type="hidden" value="安娜普那基地|cu__sceneryItem2.jpg|2000|cu_A1002">
                                                </button>
                                                <button  class="btn_cuWatchScenery">
                                                    <i class="material-icons" >search</i>
                                                </button>
                                            </div>
                                        </div>
                                       
                                        <div class="cuCustom__sceneryItem cuScenery__Item3" id="cu_A1003">
                                            <div class="cuCustom__sceneryContent">
                                                <p>安娜普那基地</p>
                                                <i class="material-icons">restaurant</i>
                                                <i class="fas fa-campground"></i>
                                            </div>
                                            <button class="btn_cuAddScenery--767 cuBtn__styleClear">
                                                <i class="material-icons">check_box_outline_blank</i>
                                            </button>
                                            <span class="cuCustom__price1">$2,000</span>
                                            <div class="cuCustom__showOption">
                                                    <button id="cu_A2003" class="btn_cuAddScenery">
                                                            <input type="hidden" value="安娜普那基地|cu__sceneryItem3.jpg|2000|cu_A1003">
                                                            <i class="material-icons">add</i>
                                                    </button>
                                                <button class="btn_cuWatchScenery">
                                                    <i class="material-icons" >search</i>
                                                </button>
                                            </div>
                                        </div>
                                       
                                        <div class="cuCustom__sceneryItem cuScenery__Item4" id="cu_A1004">
                                            <div class="cuCustom__sceneryContent">
                                                <p>安娜普那基地</p>
                                                <i class="material-icons">restaurant</i>
                                                <i class="fas fa-campground"></i>
                                            </div>
                                            <button class="btn_cuAddScenery--767 cuBtn__styleClear">
                                                <i class="material-icons">check_box_outline_blank</i>
                                            </button>
                                            <span class="cuCustom__price1">$2,000</span>
                                            <div class="cuCustom__showOption">
                                                <button id="cu_A2004" class="btn_cuAddScenery">
                                                        <input type="hidden" value="安娜普那基地|cu__sceneryItem4.jpg|2000|cu_A1004">
                                                        <i class="material-icons">add</i>
                                                </button>
                                                <button class="btn_cuWatchScenery">
                                                    <i class="material-icons" >search</i>
                                                </button>
                                            </div>
                                        </div>
                                       
                                        <div class="cuCustom__sceneryItem cuScenery__Item5" id="cu_A1005">
                                            <div class="cuCustom__sceneryContent">
                                                <p>安娜普那基地</p>
                                                <i class="material-icons">restaurant</i>
                                                <i class="fas fa-campground"></i>
                                            </div>
                                            <button class="btn_cuAddScenery--767 cuBtn__styleClear">
                                                <i class="material-icons">check_box_outline_blank</i>
                                            </button>
                                            <span class="cuCustom__price1">$2,000</span>
                                            <div class="cuCustom__showOption">
                                                <button id="cu_A2005"class="btn_cuAddScenery">
                                                        <input type="hidden" value="安娜普那基地|cu__sceneryItem5.jpg|2000|cu_A1005">

                                                        <i class="material-icons">add</i>
                                                </button>
                                                <button class="btn_cuWatchScenery">
                                                    <i class="material-icons" >search</i>
                                                </button>
                                            </div>
                                        </div>
                                       
                                        <!-- <div class="cuCustom__sceneryItem cuScenery__Item6" id="cu_A1006">
                                            <div class="cuCustom__sceneryContent">
                                                <p>安娜普那基地</p>
                                                <i class="material-icons">restaurant</i>
                                                <i class="fas fa-campground"></i>
                                            </div>
                                            <button class="btn_cuAddScenery--767 cuBtn__styleClear">
                                                <i class="material-icons">check_box_outline_blank</i>
                                            </button>
                                            <span class="cuCustom__price1">$2,000</span>
                                            <div class="cuCustom__showOption">
                                                <button class="btn_cuAddScenery">
                                                        <i class="material-icons">add</i>
                                                </button>
                                                <button id="cu_A2006" class="btn_cuWatchScenery">
                                                        <input type="hidden" value="安娜普那基地|cu__sceneryItem6.jpg|2000|cu_A1006">

                                                    <i class="material-icons" >search</i>
                                                </button>
                                            </div>
                                        </div> -->

                                       
                                    </div>
                                    <div id="btn_cuAddScenery--confirm">確認加入</div>
                                </div>
                            </div>      
                        </div>
                    </div>
                    <!-- 調整風景順序 -->
                    <div class="cuCustom__dropZone">
                        <span class="cuCustom__dropTell" >拖曳可以更改風景順序</span>
                        <div class="cuCustom__dropMask">
                           
                        </div>
                        <div class="cuCustom__count">
                            <span class="cuCustom__line"></span>
                            <span class="cuCustom__count1">景點個數：<span id="cuQuan">0</span></span>
                            <span class="cuCustom__count2">總金額：<span id="cuAmount">0</span>元</span>

                        </div>
                        <!-- btn_查看風景列表 -->
                        <div id="btn_cuCheckScenery">
                            <i class="material-icons">add</i>
                        </div>
                    </div>
        
                </div>
                <div class="cuCtrlBtn">
                    <!-- btn選擇日期及嚮導 -->
                    <input type="submit" id="btn_cuPickTG" class="cuBtn" value="選擇日期及嚮導">
                </div>
            </section>

        
            <!-- 客製化第二步驟（選時間、嚮導） -->
            <section id="cu__step2">
                <div id="cuCustom2">
                        <div class="cuProcess cuProcess2">
                                <div class="cuProcess__first">
                                    <div class="cuProcess__circle cuProcess__circle--done" id="cuProcess1_768">1</div>
                                    <p>選擇行程</p>
                                </div>
                                <div class="cuProcess__line"></div>
                                <div class="cuProcess__second">
                                    <div class="cuProcess__circle" id="cuProcessFill2">2</div>
                                    <p>選擇日期及嚮導</p>
                                </div>
                            </div>
                            <ul>
                                    <li><input id="date" type="text" value="">
                                        <span id="date-text">
                                            <label id="date-label">請選擇日期</label>
                                            <table class="calendar">
                                                <tbody>
                                                    <tr>
                                                        <td class="mm" colspan="2"><span id="mm-sp">月份</span> <i id="left-1" class="material-icons">keyboard_arrow_left</i></td>
                                                        <td class="yy" colspan="2"><span id="yy-sp">年份</span><i id="right-1" class="material-icons">keyboard_arrow_right</i></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Sun</th>
                                                        <th>Mon</th>
                                                        <th>Tue</th>
                                                        <th>Wed</th>
                                                        <th>Thu</th>
                                                        <th>Fri</th>
                                                        <th>Sat</th>
                                                    </tr>
                                                </tbody>
                                                <tbody id="calendar-tb">
                            
                            
                                                </tbody>
                                            </table>
                            
                                        </span></li>
                                </ul>
                            <!-- <form class="cuSelect">
                                <span class="cuForm__input cuForm__input--D">
                                    <input type="radio" name="startType" value="choose" checked="checked" id="start-choose">
                                    <label for="start-choose">請選擇開始日期</label>
                                </span>
                            </form>
                            <form class="cuSelect">
                                <span class="cuForm__input cuForm__input--D">
                                    <input type="radio" name="endType" value="choose" checked="checked" id="end-choose">
                                    <label for="end-choose">請選擇結束日期</label>
                                </span>
                            </form>                -->
    
                    <h3>選擇嚮導</h3>
                    <div class="cu__pickGuide">
                       
                        <div class="cu__guideList">
                            <div class="cuGuide__crtl cuGuide__crtl1">
                                <p class="cuGuide__subtitle">可選擇之嚮導</p>
                                <div class="cu__guideListBg cu__guideList--pick">
                                    <div class="cu__guideList--mask">
                                        <div class="cu__guideItem cu__guideItem1">
                                            <img src="img/cu_guideItem1.png" alt="嚮導照片">
                                            <input type="hidden" value="Vivan|擅長高山百岳健行、中級山探勘、高海拔遠征、攀岩極冰攀略有涉獵。">
                                        </div>                 
                                        <div class="cu__guideItem cu__guideItem1">
                                            <img src="img/cu_guideItem2.png" alt="嚮導照片">
                                            <input type="hidden" value="Ken|制度建立起來, 登山行動當更為順利, 山難必然會減少。">
                                        </div>                 
                                        <div class="cu__guideItem cu__guideItem1">
                                            <img src="img/cu_guideItem3.png" alt="嚮導照片">
                                            <input type="hidden" value="Moore|負責提供路況或天候等的資訊負責提供路況或天候等的資訊。">
                                        </div>                 
                                    </div>
                                </div>
                            </div>

                            <div class="cuGuide__crtl cuGuide__crtl2">
                                <p class="cuGuide__subtitle cuGuide__subtitle2">已選擇之嚮導</p>
                                <div class="cu__guideListBg cu__guideList--picked">                                    
                                    <img src="img/cu_guideItem1.png" alt="嚮導照片" id="cuGuide_picL">
                                    <h4 id="cuGuide_name">Vivian</h4>
                                    <p id="cuGuide_expertise">擅長高山百岳健行、中級山探勘、高海拔遠征、攀岩極冰攀略有涉獵。</p>                         
                                </div>
                            </div>
                        </div>                  
        
                    </div>
                </div>
                <div class="cuCtrlBtn">
                    <!-- btn選擇日期及嚮導 -->
                    <input type="button" id="btn_cuBack" class="cuBtn" value="上一頁">
                    <!-- btn選擇日期及嚮導 -->
                    <input type="submit" id="btn_cuBooking" class="cuBtn" value="訂購行程">
                </div>
            </section>
        </div> 
        
        
        <footer id="footer">
            <p>COPYRIGHT © 2018 Outlander All rights reserved.</p>
        </footer>
    
    <script src="js/customized.js"></script>
    <script src="js/date.js"></script>

</body>
</html>

<script src="js/header.js"></script>