<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/product.css">
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.22/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/js/swiper.min.js"></script>
  <title>Document</title>
</head>
<body>
  <div id="header-nav">
    <div id="header">
      <nav id="header-all">
        <div id="header-left">
          <div id="logo">
            <a href="index.html">
              <img src="img/logo.png" alt="logo">
            </a>
          </div>
          <div id="search">
            <input type="text" placeholder="搜索世界">
            <i class="material-icons">search</i>
          </div>
        </div>
        <div id="burger">
          <div id="burger-all" v-on:click="bur">
            <span id="burger-1"></span>
            <span id="burger-2"></span>
            <span id="burger-3"></span>
          </div>
        </div>
        <ul id="burger-text">
          <li><a href="#">登山行程</a></li>
          <li><a href="#">客製行程</a></li>
          <li><a href="#">登山日誌</a></li>
          <li><a href="#">登山技巧</a></li>
          <li v-if="web<768">機器人</li>
          <li v-if="web>768"><a href="#"><i class="material-icons">person</i></a></li>
          <li v-if="web<768" id="member">會員專區
            <ul id="member-child">
              <li><a class="member-a" href="#">個人中心</a></li>
              <li><a class="member-a" href="#">訂單</a></li>
              <li><a class="member-a" href="#">登山日誌</a></li>
              <li><a class="member-a" href="#">行前裝備</a></li>
            </ul>
          </li>
        </ul>
        <div class="filter">
          <div id="filterList">
            <ul id="filterListLi">
              <li class="list" id="asia-list">亞洲</li>
              <li class="list">歐洲</li>
              <li class="list">非洲</li>
              <li class="list">北美洲</li>
              <li class="list">南美洲</li>
              <li class="list">大洋洲</li>
            </ul>
            <div id="filterListImg">
              <div id="asia-img" class="in">
                <div class="filterListImg-img">
                  <img src="img/玉山/1.jpg">
                  <h3>玉山</h3>
                </div>
                <div class="filterListImg-img">
                  <img src="img/聖母峰/1.jpg">
                  <h3>聖母峰</h3>
                </div>
                <div class="filterListImg-img">
                  <img src="img/富士山/1.jpg">
                  <h3>富士山</h3>
                </div>
              </div>
              <div id="europe" class="in">
                <div class="filterListImg-img">
                  <img src="img/少女峰/1.jpg">
                  <h3>少女峰</h3>
                </div>
                <div class="filterListImg-img">
                  <img src="img/少女峰/2.jpg">
                  <h3>少女峰</h3>
                </div>
              </div>
              <div id="africa" class="in">
                <div class="filterListImg-img">
                  <img src="img/吉利馬札羅/1.jpg">
                  <h3>吉利馬札羅</h3>
                </div>
                <div class="filterListImg-img">
                  <img src="img/吉利馬札羅/2.jpg">
                  <h3>吉利馬札羅</h3>
                </div>
                <div class="filterListImg-img">
                  <img src="img/馬丘比丘/1.jpg">
                  <h3>馬丘比丘</h3>
                </div>
              </div>
              <div id="na" class="in">
                <div class="filterListImg-img">
                  <img src="img/聖克魯斯/1.JPG">
                  <h3>聖克魯斯</h3>
                </div>
                <div class="filterListImg-img">
                  <img src="img/優勝美地/1.jpg">
                  <h3>優勝美地</h3>
                </div>
              </div>
              <div id="sa" class="in">
                <div class="filterListImg-img">
                  <img src="img/百內國家公園/1.jpg">
                  <h3>百內國家公園</h3>
                </div>
                <div class="filterListImg-img">
                  <img src="img/百內國家公園/2.jpg">
                  <h3>百內國家公園</h3>
                </div>
              </div>
              <div id="oceania" class="in">
                <div class="filterListImg-img">
                  <img src="img/阿斯帕林/1.JPG">
                  <h3>阿斯帕林山</h3>
                </div>
                <div class="filterListImg-img">
                  <img src="img/阿斯帕林/2.jpg">
                  <h3>阿斯帕林山</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="product__main">
    <div class="product__imgContainer">
      <!-- Full-width images with number and caption text -->
      <div class="product__img fade">
        <img src="img/himalaya1.jpg">
      </div> 
      <div class="product__img fade">
        <img src="img/himalaya2.jpg">
      </div>
      <!-- Next and previous buttons -->
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
      <!-- The dots/circles -->
      <div class="dot__group">
        <span class="dot" onclick="currentSlide(1)"></span> 
        <span class="dot" onclick="currentSlide(2)"></span> 
      </div>
    </div>
    <div class="product__info">
      <h1>聖母峰-基地營EBC健行14天</h2>
      <p>洲&nbsp&nbsp&nbsp名 : 
        <span>亞洲</span>
      </p>
      <p>天&nbsp&nbsp&nbsp數 : 
        <span>14天</span>
      </p>
      <p>難易度 : 
        <span>
          <i class="fas fa-hiking"></i>
          <i class="fas fa-hiking"></i>
          <i class="fas fa-hiking"></i>
        </span>
      </p>
      <p>評&nbsp&nbsp&nbsp價 : 
        <span>
          <img src="img/tree.png" alt="rate">
          <img src="img/tree.png" alt="rate">
          <img src="img/tree.png" alt="rate">
          <img src="img/tree.png" alt="rate">
          <img src="img/tree.png" alt="rate">
          <span>5.0 (150)</span>
        </span>
      </p>
      <p class="product__price">$173,000 NTD</p>
      <button class="btn-main-s checkTime">查看時間</button>
    </div>
  </div>
  <div id="breadcrumb">
    <a href="index.html">首頁</a>
    <i class="material-icons">keyboard_arrow_right</i>
    <a href="productOverview.html">登山行程</a>
    <i class="material-icons">keyboard_arrow_right</i>
    <span>聖母峰-基地營EBC健行14天</span>
  </div>

  <div id="product__submenu">
    <div class="product__wrap">
      <ul>
        <li><a href="#product__itineraryTitle">行程介紹</a></li>
        <li><a href="#product__routeTitle">路線介紹</a></li>
        <li><a href="#product__timeTitle">行程時間</a></li>
        <li><a href="#product__guideTitle">嚮導介紹</a></li>
        <li><a href="#product__reviewTitle">旅客評價</a></li>
      </ul>
      <div class="product__submenuPrice">
        <p class="product__price">$173,000 NTD</p>
        <button class="btn-main-s checkTime">查看時間</button>
      </div>
    </div>
  </div>

  <section class="product__wrap">
    <h2 id="product__itineraryTitle">行程介紹</h2>
    <div class="product__itinerary">
      <p>聖母峰，又名珠峰，是世界各國登山家夢想的起飛點、一生必去朝聖一次的地方，著名的EBC(Everst Base Camp)尼泊爾聖母峰基地營(5364M)，每年吸引絡繹不絕的登山者前往。途中到處可見6000-8000公尺群山環繞，加上寬大的谷地以及壯闊的冰河地形，尤其是抵達經旗飄揚的EBC時，那份心理的震撼與感動，實是筆墨難容! 除了拜訪EBC，歸途時並前往卡拉帕塔峰(Kalapartar5550M)拜訪，整個健行途中有專業領隊、嚮導人員，並有高度適應等規劃，全程 2 人 1 挑夫負責行李背負，歡迎愛山者一起加入我們的行列。</p>
      <div id="stage">
      </div>
        <!-- <div class="weather">
          <svg class="thunder-cloud" viewBox="0 0 512 512">
            <path d="M400,64c-5.3,0-10.6,0.4-15.8,1.1C354.3,24.4,307.2,0,256,0s-98.3,24.4-128.2,65.1c-5.2-0.8-10.5-1.1-15.8-1.1
            C50.2,64,0,114.2,0,176s50.2,112,112,112c13.7,0,27.1-2.5,39.7-7.3c12.3,10.7,26.2,19,40.9,25.4l24.9-24.9
            c-23.5-7.6-44.2-21.3-59.6-39.9c-13,9.2-28.8,14.7-45.9,14.7c-44.2,0-80-35.8-80-80s35.8-80,80-80c10.8,0,21.1,2.2,30.4,6.1
            C163.7,60.7,206.3,32,256,32s92.3,28.7,113.5,70.1c9.4-3.9,19.7-6.1,30.5-6.1c44.2,0,80,35.8,80,80s-35.8,80-80,80
            c-17.1,0-32.9-5.5-45.9-14.7c-10.4,12.5-23.3,22.7-37.6,30.6L303,312.2c20.9-6.6,40.5-16.9,57.3-31.6c12.6,4.8,26,7.3,39.7,7.3
            c61.8,0,112-50.2,112-112S461.8,64,400,64z" />
            <polygon class="bolt" points="192,352 224,384 192,480 288,384 256,352 288,256 " />
          </svg>
          <p class="highTemp">24°</p>
          <p class="lowTemp">11°</p>
          <p class="weather__date">JAN 5</p>
        </div> -->
        <!-- <div class="weather">  
          <svg class="snow-cloud" viewBox="0 0 512 512">
              <path d="M512,176c0-61.8-50.2-112-112-112c-5.3,0-10.6,0.4-15.8,1.1C354.3,24.4,307.2,0,256,0s-98.3,24.4-128.2,65.1
              c-5.2-0.8-10.5-1.1-15.8-1.1C50.2,64,0,114.2,0,176s50.2,112,112,112c13.7,0,27.1-2.5,39.7-7.3c29,25.2,65.8,39.3,104.3,39.3
              c38.5,0,75.3-14.1,104.3-39.3c12.6,4.8,26,7.3,39.7,7.3C461.8,288,512,237.8,512,176z M354.1,241.3C330.6,269.6,295.6,288,256,288
              c-39.6,0-74.6-18.4-98.1-46.7c-13,9.2-28.8,14.7-45.9,14.7c-44.2,0-80-35.8-80-80s35.8-80,80-80c10.8,0,21.1,2.2,30.4,6.1
              C163.7,60.7,206.3,32,256,32s92.3,28.7,113.5,70.1c9.4-3.9,19.7-6.1,30.5-6.1c44.2,0,80,35.8,80,80s-35.8,80-80,80
              C382.9,256,367.1,250.5,354.1,241.3z" />
          
              <path class="snowflake-one" d="M131.8,349.9c-1.5-5.6-7.3-8.9-12.9-7.4l-11.9,3.2c-1.1-1.5-2.2-3-3.6-4.4c-1.4-1.4-2.9-2.6-4.5-3.6l3.2-11.9
            c1.5-5.6-1.8-11.4-7.4-12.9c-5.6-1.5-11.4,1.8-12.9,7.4l-3.2,12.1c-3.8,0.3-7.5,1.2-10.9,2.9l-8.8-8.8c-4.1-4.1-10.8-4.1-14.8,0
            c-4.1,4.1-4.1,10.8,0,14.9l8.8,8.8c-1.6,3.5-2.6,7.2-2.9,11l-12,3.2c-5.6,1.5-9,7.2-7.5,12.9c1.5,5.6,7.3,8.9,12.9,7.4l11.9-3.2
            c1.1,1.6,2.2,3.1,3.7,4.5c1.4,1.4,2.9,2.6,4.4,3.6l-3.2,11.9c-1.5,5.6,1.8,11.4,7.4,12.9c5.6,1.5,11.3-1.8,12.8-7.4l3.2-12
            c3.8-0.3,7.5-1.3,11-2.9l8.8,8.8c4.1,4.1,10.7,4,14.8,0c4.1-4.1,4.1-10.7,0-14.8l-8.8-8.8c1.7-3.5,2.7-7.2,2.9-11l12.1-3.2
            C130,361.3,133.3,355.6,131.8,349.9z M88.6,371c-4.1,4.1-10.8,4.1-14.9,0c-4.1-4.1-4.1-10.8,0-14.8c4.1-4.1,10.8-4.1,14.9,0
            S92.6,366.9,88.6,371z" />
              <path class="snowflake-two" d="M304.8,437.6l-12.6-7.2c0.4-2.2,0.7-4.4,0.7-6.7c0-2.3-0.3-4.5-0.7-6.7l12.6-7.2c5.9-3.4,7.9-11,4.5-16.8
            c-3.4-5.9-10.9-7.9-16.8-4.5l-12.7,7.3c-3.4-2.9-7.2-5.2-11.5-6.7v-14.6c0-6.8-5.5-12.3-12.3-12.3s-12.3,5.5-12.3,12.3V389
            c-4.3,1.5-8.1,3.8-11.5,6.7l-12.7-7.3c-5.9-3.4-13.5-1.4-16.9,4.5c-3.4,5.9-1.4,13.4,4.5,16.8l12.5,7.2c-0.4,2.2-0.7,4.4-0.7,6.7
            c0,2.3,0.3,4.5,0.7,6.7l-12.5,7.2c-5.9,3.4-7.9,11-4.5,16.9s10.9,7.9,16.8,4.5l12.7-7.3c3.4,2.9,7.2,5.1,11.5,6.7V473
            c0,6.8,5.5,12.3,12.3,12.3s12.3-5.5,12.3-12.3v-14.6c4.3-1.5,8.2-3.8,11.5-6.7l12.7,7.3c5.9,3.4,13.4,1.4,16.8-4.5
            C312.8,448.6,310.7,441.1,304.8,437.6z M256,436c-6.8,0-12.3-5.5-12.3-12.3c0-6.8,5.5-12.3,12.3-12.3s12.3,5.5,12.3,12.3
            C268.3,430.5,262.8,436,256,436z" />
              <path class="snowflake-three" d="M474.2,396.2l-12.1-3.2c-0.3-3.8-1.2-7.5-2.9-11l8.8-8.8c4.1-4.1,4.1-10.8,0-14.9c-4.1-4.1-10.7-4.1-14.8,0
            l-8.8,8.8c-3.5-1.6-7.1-2.6-11-2.9l-3.2-12.1c-1.5-5.6-7.2-8.9-12.9-7.4c-5.6,1.5-8.9,7.3-7.4,12.9l3.2,11.9
            c-1.6,1.1-3.1,2.3-4.5,3.7c-1.4,1.4-2.5,2.9-3.6,4.5l-11.9-3.2c-5.6-1.5-11.4,1.9-12.9,7.4c-1.5,5.6,1.9,11.4,7.4,12.9l12,3.2
            c0.3,3.8,1.3,7.5,3,11l-8.8,8.8c-4.1,4.1-4.1,10.7,0,14.8c4.1,4.1,10.7,4.1,14.8,0l8.8-8.8c3.5,1.7,7.2,2.7,11,3l3.2,12
            c1.5,5.6,7.2,8.9,12.9,7.4c5.6-1.5,9-7.2,7.5-12.9l-3.2-11.9c1.5-1.1,3-2.2,4.5-3.6c1.4-1.4,2.5-2.9,3.6-4.5l11.9,3.2
            c5.6,1.5,11.4-1.9,12.9-7.4C483.1,403.5,479.8,397.8,474.2,396.2z M438.3,402.9c-4.1,4.1-10.8,4.1-14.9,0c-4.1-4.1-4.1-10.7,0-14.9
            c4.1-4.1,10.8-4.1,14.9,0C442.4,392.2,442.4,398.9,438.3,402.9z" />
            </svg>
          
          <p class="highTemp">24°</p>
          <p class="lowTemp">11°</p>
          <p class="weather__date">JAN 5</p>
        </div>
        <div class="weather">
          <svg class="rain-cloud" viewBox="0 0 512 512">
              <path class="raindrop-one" d="M96,384c0,17.7,14.3,32,32,32s32-14.3,32-32s-32-64-32-64S96,366.3,96,384z" />
              <path class="raindrop-two" d="M225,480c0,17.7,14.3,32,32,32s32-14.3,32-32s-32-64-32-64S225,462.3,225,480z" />
              <path class="raindrop-three" d="M352,448c0,17.7,14.3,32,32,32s32-14.3,32-32s-32-64-32-64S352,430.3,352,448z" />
              <path d="M400,64c-5.3,0-10.6,0.4-15.8,1.1C354.3,24.4,307.2,0,256,0s-98.3,24.4-128.2,65.1c-5.2-0.8-10.5-1.1-15.8-1.1
              C50.2,64,0,114.2,0,176s50.2,112,112,112c13.7,0,27.1-2.5,39.7-7.3c29,25.2,65.8,39.3,104.3,39.3c38.5,0,75.3-14.1,104.3-39.3
              c12.6,4.8,26,7.3,39.7,7.3c61.8,0,112-50.2,112-112S461.8,64,400,64z M400,256c-17.1,0-32.9-5.5-45.9-14.7
              C330.6,269.6,295.6,288,256,288c-39.6,0-74.6-18.4-98.1-46.7c-13,9.2-28.8,14.7-45.9,14.7c-44.2,0-80-35.8-80-80s35.8-80,80-80
              c10.8,0,21.1,2.2,30.4,6.1C163.7,60.7,206.3,32,256,32s92.3,28.7,113.5,70.1c9.4-3.9,19.7-6.1,30.5-6.1c44.2,0,80,35.8,80,80
              S444.2,256,400,256z" />
            </svg>
          <p class="highTemp">24°</p>
          <p class="lowTemp">11°</p>
          <p class="weather__date">JAN 5</p>
        </div>
        <div class="weather">
          <svg class="sun-cloud" viewBox="0 0 512 512">
              <path class="sun-half" d="M127.8,259.1c3.1-4.3,6.5-8.4,10-12.3c-6-11.2-9.4-24-9.4-37.7c0-44.1,35.7-79.8,79.8-79.8
                  c40,0,73.1,29.4,78.9,67.7c11.4,2.3,22.4,5.7,32.9,10.4c-0.4-29.2-12-56.6-32.7-77.3C266.1,109,238,97.4,208.2,97.4
                  c-29.9,0-57.9,11.6-79.1,32.8c-21.1,21.1-32.8,49.2-32.8,79.1c0,17.2,3.9,33.9,11.2,48.9c1.5-0.1,3-0.1,4.4-0.1
                  C117.3,258,122.6,258.4,127.8,259.1z" />
              <path class="cloud" d="M400,256c-5.3,0-10.6,0.4-15.8,1.1c-16.8-22.8-39-40.5-64.2-51.7c-10.5-4.6-21.5-8.1-32.9-10.4
                  c-10.1-2-20.5-3.1-31.1-3.1c-45.8,0-88.4,19.6-118.2,52.9c-3.5,3.9-6.9,8-10,12.3c-5.2-0.8-10.5-1.1-15.8-1.1c-1.5,0-3,0-4.4,0.1
                  C47.9,258.4,0,307.7,0,368c0,61.8,50.2,112,112,112c13.7,0,27.1-2.5,39.7-7.3c29,25.2,65.8,39.3,104.3,39.3
                  c38.5,0,75.3-14.1,104.3-39.3c12.6,4.8,26,7.3,39.7,7.3c61.8,0,112-50.2,112-112S461.8,256,400,256z M400,448
                  c-17.1,0-32.9-5.5-45.9-14.7C330.6,461.6,295.6,480,256,480c-39.6,0-74.6-18.4-98.1-46.7c-13,9.2-28.8,14.7-45.9,14.7
                  c-44.2,0-80-35.8-80-80s35.8-80,80-80c7.8,0,15.4,1.2,22.5,3.3c2.7,0.8,5.4,1.7,8,2.8c4.5-8.7,9.9-16.9,16.2-24.4
                  C182,241.9,216.8,224,256,224c10.1,0,20,1.2,29.4,3.5c10.6,2.5,20.7,6.4,30.1,11.4c23.2,12.4,42.1,31.8,54.1,55.2
                  c9.4-3.9,19.7-6.1,30.5-6.1c44.2,0,80,35.8,80,80S444.2,448,400,448z" />
          
              <path class="ray ray-one" d="M16,224h32c8.8,0,16-7.2,16-16s-7.2-16-16-16H16c-8.8,0-16,7.2-16,16S7.2,224,16,224z" />
              <path class="ray ray-two" d="M83.5,106.2c6.3,6.2,16.4,6.2,22.6,0c6.3-6.2,6.3-16.4,0-22.6L83.5,60.9c-6.2-6.2-16.4-6.2-22.6,0
                  c-6.2,6.2-6.2,16.4,0,22.6L83.5,106.2z" />
              <path class="ray ray-three" d="M208,64c8.8,0,16-7.2,16-16V16c0-8.8-7.2-16-16-16s-16,7.2-16,16v32C192,56.8,199.2,64,208,64z" />
              <path class="ray ray-four" d="M332.4,106.2l22.6-22.6c6.2-6.2,6.2-16.4,0-22.6c-6.2-6.2-16.4-6.2-22.6,0l-22.6,22.6
                  c-6.2,6.2-6.2,16.4,0,22.6S326.2,112.4,332.4,106.2z" />
              <path class="ray ray-five" d="M352,208c0,8.8,7.2,16,16,16h32c8.8,0,16-7.2,16-16s-7.2-16-16-16h-32C359.2,192,352,199.2,352,208z" />
            </svg>
          <p class="highTemp">24°</p>
          <p class="lowTemp">11°</p>
          <p class="weather__date">JAN 5</p>
        </div>
        <div class="weather">
          <svg class="sunshine" viewBox="0 0 512 512">
            <path class="sun-full" d="M256,144c-61.8,0-112,50.2-112,112s50.2,112,112,112s112-50.2,112-112S317.8,144,256,144z M256,336
                c-44.2,0-80-35.8-80-80s35.8-80,80-80s80,35.8,80,80S300.2,336,256,336z" />
            <path class="sun-ray-eight" d="M131.6,357.8l-22.6,22.6c-6.2,6.2-6.2,16.4,0,22.6s16.4,6.2,22.6,0l22.6-22.6c6.2-6.3,6.2-16.4,0-22.6
                C147.9,351.6,137.8,351.6,131.6,357.8z" />
            <path class="sun-ray-seven" d="M256,400c-8.8,0-16,7.2-16,16v32c0,8.8,7.2,16,16,16s16-7.2,16-16v-32C272,407.2,264.8,400,256,400z" />
            <path class="sun-ray-six" d="M380.5,357.8c-6.3-6.2-16.4-6.2-22.6,0c-6.3,6.2-6.3,16.4,0,22.6l22.6,22.6c6.2,6.2,16.4,6.2,22.6,0
                s6.2-16.4,0-22.6L380.5,357.8z" />
            <path class="sun-ray-five" d="M448,240h-32c-8.8,0-16,7.2-16,16s7.2,16,16,16h32c8.8,0,16-7.2,16-16S456.8,240,448,240z" />
            <path class="sun-ray-four" d="M380.4,154.2l22.6-22.6c6.2-6.2,6.2-16.4,0-22.6s-16.4-6.2-22.6,0l-22.6,22.6c-6.2,6.2-6.2,16.4,0,22.6
                C364.1,160.4,374.2,160.4,380.4,154.2z" />
            <path class="sun-ray-three" d="M256,112c8.8,0,16-7.2,16-16V64c0-8.8-7.2-16-16-16s-16,7.2-16,16v32C240,104.8,247.2,112,256,112z" />
            <path class="sun-ray-two" d="M131.5,154.2c6.3,6.2,16.4,6.2,22.6,0c6.3-6.2,6.3-16.4,0-22.6l-22.6-22.6c-6.2-6.2-16.4-6.2-22.6,0
                c-6.2,6.2-6.2,16.4,0,22.6L131.5,154.2z" />
            <path class="sun-ray-one" d="M112,256c0-8.8-7.2-16-16-16H64c-8.8,0-16,7.2-16,16s7.2,16,16,16h32C104.8,272,112,264.8,112,256z" />
            </svg>
          <p class="highTemp">24°</p>
          <p class="lowTemp">11°</p>
          <p class="weather__date">JAN 5</p>
        </div>       -->
        <!-- <svg class="windy-cloud" viewBox="0 0 512 512">
          <g class="cloud-wrap">
          <path class="cloud" d="M417,166.1c-24-24.5-57.1-38.8-91.7-38.8c-34.6,0-67.7,14.2-91.7,38.8c-52.8,2.5-95,46.2-95,99.6
          c0,55,44.7,99.7,99.7,99.7c5.8,0,11.6-0.5,17.3-1.5c20.7,13.5,44.9,20.9,69.7,20.9c24.9,0,49.1-7.3,69.8-20.9
          c5.7,1,11.5,1.5,17.3,1.5c54.9,0,99.6-44.7,99.6-99.7C512,212.3,469.8,168.5,417,166.1z M412.4,333.3c-8.3,0-16.4-1.5-24-4.4
          c-17.5,15.2-39.8,23.8-63.1,23.8c-23.2,0-45.5-8.5-63-23.8c-7.6,2.9-15.8,4.4-24,4.4c-37.3,0-67.7-30.4-67.7-67.7
          c0-37.3,30.4-67.7,67.7-67.7c3.2,0,6.4,0.2,9.5,0.7c18.1-24.6,46.5-39.4,77.5-39.4c30.9,0,59.4,14.8,77.5,39.4
          c3.1-0.5,6.3-0.7,9.6-0.7c37.3,0,67.6,30.4,67.6,67.7C480,303,449.7,333.3,412.4,333.3z" />
          </g>
          <path class="wind-three" d="M144,352H16c-8.8,0-16,7.2-16,16s7.2,16,16,16h128c8.8,0,16-7.2,16-16S152.8,352,144,352z" />
          <path class="wind-two" d="M16,320h94c8.8,0,16-7.2,16-16s-7.2-16-16-16H16c-8.8,0-16,7.2-16,16S7.2,320,16,320z" />
          <path class="wind-one" d="M16,256h64c8.8,0,16-7.2,16-16s-7.2-16-16-16H16c-8.8,0-16,7.2-16,16S7.2,256,16,256z" />
        </svg> -->
    </div>
  </section>

  <section class="product__wrap">
    <h2 id="product__routeTitle">路線介紹</h2>
    <div class="product__routeInfo">
      <div class="product__route">
        <div class="route route1">
          <div class="route__img">
            <img src="img/himalaya-route1.jpg" alt="himalaya-route1">
          </div>
          <div class="route__info">
            <h3>風景點一  <span>Phakding( 2610M )</span></h3>
            <p>搭乘小飛機前往海拔高度2840公尺的盧卡拉Lukla機場，展開喜瑪拉雅山聖母峰基地營之旅。飛行時間大約為35分鐘。抵達盧卡拉機場後，登山導遊將會稍作簡報及介紹此行將協助我們的挑夫。隨後立即整裝健行至巴定Phakding。(本日健行路程約4小時)</p>
            <div class="route__icon">
              <i class="material-icons">airplanemode_active</i>
              <i class="material-icons">restaurant</i>
  	          <i class="material-icons">hotel</i>
            </div>
          </div>
        </div>
        <div class="route route2">
          <div class="route__img">
            <img src="img/himalaya-route1.jpg" alt="himalaya-route1">
          </div>
          <div class="route__info">
            <h3>風景點一  <span>Phakding( 2610M )</span></h3>
            <p>搭乘小飛機前往海拔高度2840公尺的盧卡拉Lukla機場，展開喜瑪拉雅山聖母峰基地營之旅。飛行時間大約為35分鐘。抵達盧卡拉機場後，登山導遊將會稍作簡報及介紹此行將協助我們的挑夫。隨後立即整裝健行至巴定Phakding。(本日健行路程約4小時)</p>
            <div class="route__icon">
              <i class="material-icons">airplanemode_active</i>
              <i class="material-icons">restaurant</i>
  	          <i class="material-icons">hotel</i>
            </div>
          </div>
        </div>
        <div class="route route3">
          <div class="route__img">
            <img src="img/himalaya-route1.jpg" alt="himalaya-route1">
          </div>
          <div class="route__info">
            <h3>風景點一  <span>Phakding( 2610M )</span></h3>
            <p>搭乘小飛機前往海拔高度2840公尺的盧卡拉Lukla機場，展開喜瑪拉雅山聖母峰基地營之旅。飛行時間大約為35分鐘。抵達盧卡拉機場後，登山導遊將會稍作簡報及介紹此行將協助我們的挑夫。隨後立即整裝健行至巴定Phakding。(本日健行路程約4小時)</p>
            <div class="route__icon">
              <i class="material-icons">airplanemode_active</i>
              <i class="material-icons">restaurant</i>
  	          <i class="material-icons">hotel</i>
            </div>
          </div>
        </div>
        <div class="route route4">
          <div class="route__img">
            <img src="img/himalaya-route1.jpg" alt="himalaya-route1">
          </div>
          <div class="route__info">
            <h3>風景點一  <span>Phakding( 2610M )</span></h3>
            <p>搭乘小飛機前往海拔高度2840公尺的盧卡拉Lukla機場，展開喜瑪拉雅山聖母峰基地營之旅。飛行時間大約為35分鐘。抵達盧卡拉機場後，登山導遊將會稍作簡報及介紹此行將協助我們的挑夫。隨後立即整裝健行至巴定Phakding。(本日健行路程約4小時)</p>
            <div class="route__icon">
              <i class="material-icons">airplanemode_active</i>
              <i class="material-icons">restaurant</i>
  	          <i class="material-icons">hotel</i>
            </div>
          </div>
        </div>
        <div class="route route5">
          <div class="route__img">
            <img src="img/himalaya-route1.jpg" alt="himalaya-route1">
          </div>
          <div class="route__info">
            <h3>風景點一  <span>Phakding( 2610M )</span></h3>
            <p>搭乘小飛機前往海拔高度2840公尺的盧卡拉Lukla機場，展開喜瑪拉雅山聖母峰基地營之旅。飛行時間大約為35分鐘。抵達盧卡拉機場後，登山導遊將會稍作簡報及介紹此行將協助我們的挑夫。隨後立即整裝健行至巴定Phakding。(本日健行路程約4小時)</p>
            <div class="route__icon">
              <i class="material-icons">airplanemode_active</i>
              <i class="material-icons">restaurant</i>
  	          <i class="material-icons">hotel</i>
            </div>
          </div>
        </div>
        <div id="showMore">
          <button class="btn-main-s" id="showRoute">查看更多</button>
        </div>
      </div>
      <div class="product__map">
        <img src="img/viewpoint.png" alt="viewpoint">
      </div>
    </div>
  </section>

  <section class="product__wrap">
    <h2 id="product__timeTitle">行程時間</h2>
    <div class="product_timePrice">
      <div class="datepicker">
        <ul class="month">
          <li>一月 2019</li>
          <li>
            <i class="material-icons">keyboard_arrow_left</i>
            <i class="material-icons">keyboard_arrow_right</i>
          </li>
        </ul>
        <ul class="week">
          <li>SUN</li>
          <li>MON</li>
          <li>TUE</li>
          <li>WED</li>
          <li>THU</li>
          <li>FRI</li>
          <li>SAT</li>
        </ul>
        <ul class="day">
          <li class="mute">30</li>
          <li class="mute">31</li>
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
          <li>6</li>
          <li>7</li>
          <li class="start selected">8</li>
          <li class="selected">9</li>
          <li class="selected">10</li>
          <li class="selected">11</li>
          <li class="selected">12</li>
          <li class="selected">13</li>
          <li class="selected">14</li>
          <li class="selected">15</li>
          <li class="selected">16</li>
          <li class="selected">17</li>
          <li class="selected">18</li>
          <li class="selected">19</li>
          <li class="selected">20</li>
          <li class="end selected">21</li>
          <li>22</li>
          <li>23</li>
          <li>24</li>
          <li>25</li>
          <li>26</li>
          <li>27</li>
          <li>28</li>
          <li>29</li>
          <li>30</li>
          <li>31</li>
          <li class="mute">1</li>
          <li class="mute">2</li>
          <span></span>
        </ul>
      </div>
      <div class="product__priceDetail">
        <div id="product__include">
          <h3>費用包含</h3>
          <ul>
            <li> 當地食宿</li>
            <li> 入山規費</li>
            <li> 旅約保險</li>
            <li> 簽證規費</li>
            <li> 行政費用</li>
          </ul>
        </div>
        <div id="product__exclude">
          <h3>費用不包含</h3>
          <ul>
            <li> 護照費用</li>
            <li> 廚師小費</li>
            <li> 自費項目</li>
            <li> 挑夫小費</li>
            <li> 當地嚮導費用</li>
          </ul>
        </div>
        <div id="product__time">
          <h3>行程時間</h3>
          <p id="product__timeStart">
            <i class="material-icons">place</i>
            開始時間
            <span>2019/01/08</span>
          </p>
          <p id="product__timeEnd">
            <i class="material-icons">flag</i>
            結束時間
            <span>2019/01/21</span>
          </p>
        </div>
      </div>
      <button class="btn-main-s">確認訂購</button>
    </div>
  </section>

  <div class="product__guideBackground">
    <section class="product__wrap">
      <h2 id="product__guideTitle">嚮導介紹</h2>
      <div class="product__guideGroup swiper-container">
        <div class="product__guide__pagination"></div>
        <div class="swiper-wrapper">
          <div class="product__guide swiper-slide">
            <div class="product__guideImg">
              <img src="img/guide1.jpg" alt="guide1">
            </div>
            <div class="product__guideInfo">
              <h3>登山嚮導</h3>
              <h3 class="product__guideName">Dave Chew</h3>
              <p>擅長高山百岳健行、中級山探勘、中級山探勘、高海拔遠征、攀岩極冰攀略有涉獵、高海拔遠征、攀岩極冰攀略有涉獵、高海拔遠征、攀岩極冰攀略有涉獵。</p>
            </div>
            <div class="product__guideCapability">
              <h3 class="product__guideName">Dave Chew</h3>
              <h3>嚮導綜合能力</h3>
              <canvas width="300" height="300"></canvas>
            </div>
          </div>
          <div class="product__guide swiper-slide">
            <div class="product__guideImg">
              <img src="img/guide1.jpg" alt="guide1">
            </div>
            <div class="product__guideInfo">
              <h3>登山嚮導</h3>
              <h3 class="product__guideName">Dave Chew</h3>
              <p>擅長高山百岳健行、中級山探勘、中級山探勘、高海拔遠征、攀岩極冰攀略有涉獵、高海拔遠征、攀岩極冰攀略有涉獵、高海拔遠征、攀岩極冰攀略有涉獵。</p>
            </div>
            <div class="product__guideCapability">
              <h3 class="product__guideName">Dave Chew</h3>
              <h3>嚮導綜合能力</h3>
              <canvas width="300" height="300"></canvas>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div>
    <div class="product__reviewBackground">
      <img src="img/reviewBackground.png" alt="" class="product__reviewBackgroundImg">
    </div>
    <section class="product__wrap">
      <h2 id="product__reviewTitle">旅客評價</h2>
      <div id="totalReview">
        <span id="totalRate">5.0</span>
        <span id="totalRateImg">
          <img src="img/tree.png" alt="rate">
          <img src="img/tree.png" alt="rate">
          <img src="img/tree.png" alt="rate">
          <img src="img/tree.png" alt="rate">
          <img src="img/tree.png" alt="rate">
        </span>
        <span id="numberOfRate">150則評價</span>
      </div>
      <div class="clearfix"></div>
      <div class="product__review">
        <div class="product__customerReview">
          <div class="product__customerImg">
            <img src="img/customer1.jpg" alt="CHARLE CHEN">
          </div>
          <div class="product__customerMain">
            <div class="product__customerInfo">
              <span class="product__customerName">CHARLE CHEN</span>
              <span class="product__customerRate">
                <img src="img/tree.png" alt="rate">
                <img src="img/tree.png" alt="rate">
                <img src="img/tree.png" alt="rate">
                <img src="img/tree.png" alt="rate">
                <img src="img/tree.png" alt="rate">
              </span>
              <span class="product__reviewDate">2018年9月17日</span>
            </div>
            <p class="product__customerReview">對於想參加多次課程的客人，我們也提供相關的折扣。對於初學者，我們鼓勵你至少參加連續3天的課程，甚至連續7天以上。對於想參加多次課程的客人，我們也提供相關的折扣。對於初學者，我們鼓勵你至少參加連續3天的課程，甚至連續7天以上。</p>
          </div>
        </div>
        <div class="product__customerReview">
          <div class="product__customerImg">
            <img src="img/customer1.jpg" alt="CHARLE CHEN">
          </div>
          <div class="product__customerMain">
            <div class="product__customerInfo">
              <span class="product__customerName">CHARLE CHEN</span>
              <span class="product__customerRate">
                <img src="img/tree.png" alt="rate">
                <img src="img/tree.png" alt="rate">
                <img src="img/tree.png" alt="rate">
                <img src="img/tree.png" alt="rate">
                <img src="img/tree.png" alt="rate">
              </span>
              <span class="product__reviewDate">2018年9月17日</span>
            </div>
            <p class="product__customerReview">對於想參加多次課程的客人，我們也提供相關的折扣。對於初學者，我們鼓勵你至少參加連續3天的課程，甚至連續7天以上。對於想參加多次課程的客人，我們也提供相關的折扣。對於初學者，我們鼓勵你至少參加連續3天的課程，甚至連續7天以上。</p>
          </div>
        </div>
        <div class="product__customerReview">
          <div class="product__customerImg">
            <img src="img/customer1.jpg" alt="CHARLE CHEN">
          </div>
          <div class="product__customerMain">
            <div class="product__customerInfo">
              <span class="product__customerName">CHARLE CHEN</span>
              <span class="product__customerRate">
                <img src="img/tree.png" alt="rate">
                <img src="img/tree.png" alt="rate">
                <img src="img/tree.png" alt="rate">
                <img src="img/tree.png" alt="rate">
                <img src="img/tree.png" alt="rate">
              </span>
              <span class="product__reviewDate">2018年9月17日</span>
            </div>
            <p class="product__customerReview">對於想參加多次課程的客人，我們也提供相關的折扣。對於初學者，我們鼓勵你至少參加連續3天的課程，甚至連續7天以上。對於想參加多次課程的客人，我們也提供相關的折扣。對於初學者，我們鼓勵你至少參加連續3天的課程，甚至連續7天以上。</p>
          </div>
        </div>
        <div class="product__customerReview">
          <div class="product__customerImg">
            <img src="img/customer1.jpg" alt="CHARLE CHEN">
          </div>
          <div class="product__customerMain">
            <div class="product__customerInfo">
              <span class="product__customerName">CHARLE CHEN</span>
              <span class="product__customerRate">
                <img src="img/tree.png" alt="rate">
                <img src="img/tree.png" alt="rate">
                <img src="img/tree.png" alt="rate">
                <img src="img/tree.png" alt="rate">
                <img src="img/tree.png" alt="rate">
              </span>
              <span class="product__reviewDate">2018年9月17日</span>
            </div>
            <p class="product__customerReview">對於想參加多次課程的客人，我們也提供相關的折扣。對於初學者，我們鼓勵你至少參加連續3天的課程，甚至連續7天以上。對於想參加多次課程的客人，我們也提供相關的折扣。對於初學者，我們鼓勵你至少參加連續3天的課程，甚至連續7天以上。</p>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </section>
  </div>

  <section class="product__wrap">
    <h2>更多推薦行程</h2>
    <div class="product__card">
      <div class="product__group">
        <div class="pro-item">
          <div class="pro-item-pic">
            <img src="img/himalaya1.jpg" alt="EBC">
          </div>
          <h4>探索尼泊爾•安娜普娜基地營健行15日</h4>
          <div class="pro-item-view-flex">
            <p>評價：</p>
            <span class="tree"><img src="img/tree.png" alt="tree"></span>
            <span class="tree"><img src="img/tree.png" alt="tree"></span>
            <span class="tree"><img src="img/tree.png" alt="tree"></span>
            <span class="tree"><img src="img/tree.png" alt="tree"></span>
            <span class="tree"><img src="img/tree.png" alt="tree"></span>
          </div>
          <p>天數：15天</p>
          <div class="pro-item-view-flex">
            <p>難易度:</p>
            <span class="hike">
              <i class="fas fa-hiking"></i>
            </span>
            <span class="hike">
              <i class="fas fa-hiking"></i>
            </span>
            <span class="hike">
              <i class="fas fa-hiking"></i>
            </span>    
          </div>
          <div class="pro-item-view">    
            <div class="heart-flex">
              <span class="material-icons">favorite_border</span>
              <span class="heart-text">212</span>  
            </div>
            <span class="price"><h4>NTD76500</h4></span>
          </div>
        </div>
        <div class="pro-item">
          <div class="pro-item-pic">
            <img src="img/himalaya1.jpg" alt="EBC">
          </div>
          <h4>探索尼泊爾•安娜普娜基地營健行15日</h4>
          <div class="pro-item-view-flex">
            <p>評價：</p>
            <span class="tree"><img src="img/tree.png" alt="tree"></span>
            <span class="tree"><img src="img/tree.png" alt="tree"></span>
            <span class="tree"><img src="img/tree.png" alt="tree"></span>
            <span class="tree"><img src="img/tree.png" alt="tree"></span>
            <span class="tree"><img src="img/tree.png" alt="tree"></span>
          </div>
          <p>天數：15天</p>
          <div class="pro-item-view-flex">
            <p>難易度:</p>
            <span class="hike">
              <i class="fas fa-hiking"></i>
            </span>
            <span class="hike">
              <i class="fas fa-hiking"></i>
            </span>
            <span class="hike">
              <i class="fas fa-hiking"></i>
            </span>    
          </div>
          <div class="pro-item-view">    
            <div class="heart-flex">
              <span class="material-icons">favorite_border</span>
              <span class="heart-text">212</span>  
            </div>
            <span class="price"><h4>NTD76500</h4></span>
          </div>
        </div>
        <div class="pro-item">
          <div class="pro-item-pic">
            <img src="img/himalaya1.jpg" alt="EBC">
          </div>
          <h4>探索尼泊爾•安娜普娜基地營健行15日</h4>
          <div class="pro-item-view-flex">
            <p>評價：</p>
            <span class="tree"><img src="img/tree.png" alt="tree"></span>
            <span class="tree"><img src="img/tree.png" alt="tree"></span>
            <span class="tree"><img src="img/tree.png" alt="tree"></span>
            <span class="tree"><img src="img/tree.png" alt="tree"></span>
            <span class="tree"><img src="img/tree.png" alt="tree"></span>
          </div>
          <p>天數：15天</p>
          <div class="pro-item-view-flex">
            <p>難易度:</p>
            <span class="hike">
              <i class="fas fa-hiking"></i>
            </span>
            <span class="hike">
              <i class="fas fa-hiking"></i>
            </span>
            <span class="hike">
              <i class="fas fa-hiking"></i>
            </span>    
          </div>
          <div class="pro-item-view">    
            <div class="heart-flex">
              <span class="material-icons">favorite_border</span>
              <span class="heart-text">212</span>  
            </div>
            <span class="price"><h4>NTD76500</h4></span>
          </div>
        </div>
        <div class="pro-item">
          <div class="pro-item-pic">
            <img src="img/himalaya1.jpg" alt="EBC">
          </div>
          <h4>探索尼泊爾•安娜普娜基地營健行15日</h4>
          <div class="pro-item-view-flex">
            <p>評價：</p>
            <span class="tree"><img src="img/tree.png" alt="tree"></span>
            <span class="tree"><img src="img/tree.png" alt="tree"></span>
            <span class="tree"><img src="img/tree.png" alt="tree"></span>
            <span class="tree"><img src="img/tree.png" alt="tree"></span>
            <span class="tree"><img src="img/tree.png" alt="tree"></span>
          </div>
          <p>天數：15天</p>
          <div class="pro-item-view-flex">
            <p>難易度:</p>
            <span class="hike">
              <i class="fas fa-hiking"></i>
            </span>
            <span class="hike">
              <i class="fas fa-hiking"></i>
            </span>
            <span class="hike">
              <i class="fas fa-hiking"></i>
            </span>    
          </div>
          <div class="pro-item-view">    
            <div class="heart-flex">
              <span class="material-icons">favorite_border</span>
              <span class="heart-text">212</span>  
            </div>
            <span class="price"><h4>NTD76500</h4></span>
          </div>
        </div>
        <div class="pro-item">
          <div class="pro-item-pic">
            <img src="img/himalaya1.jpg" alt="EBC">
          </div>
          <h4>探索尼泊爾•安娜普娜基地營健行15日</h4>
          <div class="pro-item-view-flex">
            <p>評價：</p>
            <span class="tree"><img src="img/tree.png" alt="tree"></span>
            <span class="tree"><img src="img/tree.png" alt="tree"></span>
            <span class="tree"><img src="img/tree.png" alt="tree"></span>
            <span class="tree"><img src="img/tree.png" alt="tree"></span>
            <span class="tree"><img src="img/tree.png" alt="tree"></span>
          </div>
          <p>天數：15天</p>
          <div class="pro-item-view-flex">
            <p>難易度:</p>
            <span class="hike">
              <i class="fas fa-hiking"></i>
            </span>
            <span class="hike">
              <i class="fas fa-hiking"></i>
            </span>
            <span class="hike">
              <i class="fas fa-hiking"></i>
            </span>    
          </div>
          <div class="pro-item-view">    
            <div class="heart-flex">
              <span class="material-icons">favorite_border</span>
              <span class="heart-text">212</span>  
            </div>
            <span class="price"><h4>NTD76500</h4></span>
          </div>
        </div>
        <div class="pro-item">
          <div class="pro-item-pic">
            <img src="img/himalaya1.jpg" alt="EBC">
          </div>
          <h4>探索尼泊爾•安娜普娜基地營健行15日</h4>
          <div class="pro-item-view-flex">
            <p>評價：</p>
            <span class="tree"><img src="img/tree.png" alt="tree"></span>
            <span class="tree"><img src="img/tree.png" alt="tree"></span>
            <span class="tree"><img src="img/tree.png" alt="tree"></span>
            <span class="tree"><img src="img/tree.png" alt="tree"></span>
            <span class="tree"><img src="img/tree.png" alt="tree"></span>
          </div>
          <p>天數：15天</p>
          <div class="pro-item-view-flex">
            <p>難易度:</p>
            <span class="hike">
              <i class="fas fa-hiking"></i>
            </span>
            <span class="hike">
              <i class="fas fa-hiking"></i>
            </span>
            <span class="hike">
              <i class="fas fa-hiking"></i>
            </span>    
          </div>
          <div class="pro-item-view">    
            <div class="heart-flex">
              <span class="material-icons">favorite_border</span>
              <span class="heart-text">212</span>  
            </div>
            <span class="price"><h4>NTD76500</h4></span>
          </div>
        </div>
      </div>
      <button class="prev">
        <i class="material-icons">keyboard_arrow_left</i>
      </button>
      <button class="next">
        <i class="material-icons">keyboard_arrow_right</i>
      </button>
    </div>
  </section>

  <footer id="footer">
    <p>COPYRIGHT © 2018 Outlander All rights reserved.</p>
  </footer>
  <script src="js/header.js"></script>
  <script src="js/weather.js"></script>
  <script src="js/product.js"></script>
  <script>
    var canvas = document.getElementsByTagName("canvas");
    for(let i=0; i<canvas.length; i++){
      var gradientBlue = canvas[i].getContext('2d').createLinearGradient(0, 0, 0, 150);
    }
    gradientBlue.addColorStop(0, 'rgba(16, 97, 114, 0.9)');
    gradientBlue.addColorStop(1, 'rgba(93, 183, 197, 0.8)');

    var shadowed = {
      beforeDatasetsDraw: function(chart, options) {
        chart.ctx.shadowColor = 'rgba(0, 0, 0, 0.25)';
        chart.ctx.shadowBlur = 40;
      },
      afterDatasetsDraw: function(chart, options) {
        chart.ctx.shadowColor = 'rgba(0, 0, 0, 0)';
        chart.ctx.shadowBlur = 0;
      }
    };
    for(let i=0; i<canvas.length; i++){
      window.chart = new Chart(document.getElementsByTagName("canvas")[i], {
          type: "radar",
          data: {
              labels: ["YDS等級", "體能表現", "求生能力", "應變能力", "帶團經驗"],
              datasets: [{
                  label: "Dave Chew",
                  data: [60, 70, 40, 100, 90],
                  fill: true,
                  backgroundColor: gradientBlue,
                  borderColor: "transparent",
                  pointBackgroundColor: "transparent",
                  pointBorderColor: "transparent",
                  pointHoverBackgroundColor: "transparent",
                  pointHoverBorderColor: "transparent",
                //多遠可以感應
                  pointHitRadius: 50,
              }]
          },
          options: {
            legend: {
              display: false,
            },
            //顯示tooltip
            tooltips: {
              enabled: true,
            },
            scale: {
              ticks: {
                //radar隔線
                  maxTicksLimit: 1,
                //標記數值
                  display: false,
              }
            }
          },
          plugins: [shadowed]
      });
    }
  </script>
</body>
</html>