// 色票們
$color-text:#484848;//內文
$color-main1:#5DB7C5;//主色票淺
$color-main2:#088B9A;//主色票中  同時是漢堡色
$color-main3:#122B3F;//主色票深
$color-btn-main:#F27F22;//主按鈕色
$color-btn-sub:#F99D19;//次按鈕色
$color-gray1:#989898;//灰色
$color-ph:#DDDDDD;//灰色 同時是placeholder色
$color-white:#F4F4F4;
$color-header:#122B2F;


//陰影 text跟box的都一樣
$shadow:0 3px 6px rgba(0,0,0,0.16);

