$color-white:#fff;
$color-subTitle-a:rgba(13,97,114,.9);
$color-btn-main-a:#65B8C6;
/*青青草綠*/  
$color-lifegreen:#088B9A;
$color-lightgreen:rgb(216,221,118);
$color-lightgray: #989898;
$pc-media:992px;
$pad-media:768px;
$phone-media:767px;
$phones-media:575px;

