//卡片的圓角
@mixin br8{
    border-radius: 8px;
}




$mobile: 767px;
$medium: 1024px;
$desktop: 1200px;
@mixin rwd($breakpoint) {
    @if $breakpoint==mobile {
        @media only screen and (max-width: $mobile) {
            @content;
           
            
        }
    }

    @else if $breakpoint==medium {
        @media all and (max-width: $medium) {
            @content;
        }
    }

    @if $breakpoint==desktop {
        @media all and (min-width: $desktop) {
            @content;
        }
    }
}
